@import "compass/typography/text/replacement";
@import "compass/css3";

@import "pyoes/settings";

.mobile-menu {
	display:none;
	select {
		display: inline-block;
		border: 1px solid $softgray;
		padding: 4px;
		color: #4d4d4d;
	}
}


.header{
	margin-top: 30px;
	margin-bottom: -75px;

	.site-title {
		h1{
			@include squish-text();
			width: 177px;
			height: 194px;
			margin: 20px auto 0 auto;
			background: url('../img/pyoes/logo.png') no-repeat;
			a{
				height: 194px;
			}
		}
	}

	.inline-list{
		a{
			font-size: rem-alc(16px);
			color: $black;
			margin-right: 30px;
			&.last{
				margin-right:0;
			}
		}
	}

	.top-nav{
		@include clearfix;
		margin-bottom: 40px;

		ul {
			@include inline-list;
			margin: 0;
			li {
				margin-left: 0;
			}
			a{
				font-size: rem-calc(16px);
				color: $black;
				margin-right: 30px;
				&.last{
					margin-right:0;
				}
			}
		}
	}

	.language-switch{
		li{
			width: 35px;

		}
		a{
			margin-right: 0;
			padding: 5px 10px;
		}
		.active, li:hover{
			background-color: $mainpink;
			@include radius(25px);

			a, a:hover{
				font-weight: 700;
				color: #FFF;
			}
		}
	}

	.main-nav{
			
		background-color: $black;
		padding: 15px 20px 10px 15px;

		ul {
			@include inline-list;
			margin: 0;

			li{
				padding-left: 10px;
				margin-bottom: 5px;
				margin-left: 0px;
				width: rem-calc(120);
			}
		}

		a{
			color: #b9d1dc;
			font-size: rem-calc(20px);
			font-family: $accent-font-family;
			margin-right: 30px;
			&.last{
				margin-right:0;
			}
		}

		.active, li:hover{
			a{
				color: $mainpink;
			}
		}
	}

	.searchfield	{
		background: $softblue;
		.search-input{
			margin: 0;
			border:none;
			@include radius(0);
		}
		.small-9 {
			padding: rem-calc(9);
			padding-right: 0;
		}
		.small-3 {
			padding: rem-calc(9);
			padding-left: 0;
		}
		input[type="submit"]{
			display: block;
			width: 100%;
			border:none;
			background: url('../img/icons/magnifier_wb.png') no-repeat center center;
		}
	}


	.main-nav-wrapper{
		padding-right: 0;
	}

	.searchfield-wrapper{
		padding-right: 0 !important;
	}

	.broodkruimel-wrapper{
		background: #e5e5e5;
		position: absolute;
		right: 20px;
		bottom: 20px;


		ul.broodkruimel {
			@include crumb-container;
			@include radius(0);
			padding: 3px 10px;
			border:none;

			li {
				@include crumbs;
				color: #585858;
				line-height: 1;
				padding: 0px;
				font-size: inherit;
				a {
					text-transform: none;
					font-size: rem-calc(14px);
				}
			}

			li:before {
				content: ">";
				color: #585858;
				margin: 0px rem-calc(5px);
			}

			border:none;
			background: none;
			@include radius(0);
			margin-bottom: 0;

			li:nth-child(2):before{
				content: " ";
				margin-left: rem-calc(10px);
			}

		}
	}

}

.upper-header{
	position:relative;
	z-index:1;
}

.lower-header{
	background: $softgray;
	position:relative;
	top: -75px;
	z-index: 0;
}

.overlay-sub{
	position:static;
}

.content {
	margin-top: 30px;
}

.footer{
	background-color: #edeeff;

	.columns{
		padding-right: 0;
		padding-left: 0;


		&.last{
			padding-right: 60px;
		}
	}

	.small-footer{
		padding: 20px 20px 0 20px;
		background-color: #2893ba;

		.footer-nav{

			ul{
				@include inline-list;

				li{
					a{
						text-transform: none;
						font-size: rem-calc(14px);
						font-weight: 700;
						color: #fff;
					}
					&>*{
						display: inline;
					}
				}


				li:before{
					color: #fff;
					content: "/";
					margin-right: 12px;
				}

				li:first-child:before{
					content:"";
					margin-right: 0px;
				}

			}

		}

		p, li{
			margin-bottom: 0;
			color: $white;		
		}

		a.agentschap {
			color: $white;
		}

		.info{
			float:left;
			margin-left: 20px;
		}

		.icons-overheid{
			float:left;
			margin-top: rem-calc(6px);
		}
	}
}
// icon shizzle

$icons-sprite-dimensions: true;
// This returns width/height for each image
@import "pyoes/icons/*.png";
@include all-icons-sprites;
.icon {
  @include squish-text();
  @include inline-block();
}
