
//
// OE custom CLASSES form and articles
//


// form custom

// all buttons text uppercase
.button {text-transform:uppercase}

// legend /fieldset
legend {text-transform:uppercase;font-size:0.8em}

// errors
.error {background: none !important}
input.error {border: 1px solid $alert-color}

// select optionform beeldbank
select {height:42px}
select:focus {outline:none}
// fix for dropdown arrow in firefox
select {
  -moz-appearance: none !important;
}


// articles

dt, b, strong {font-family: $font-family-bold-serif;font-weight:700;}
h4 > em {padding:5px 0 10px 0;display:block;font-size:1.3em;line-height:1.3em}
article > h1 {padding-bottom:18px;}
article a, .panel p a  {color:$fresh-blue;text-decoration:underline}
article a:hover, .panel p a:hover  {color:$fresh-blue;text-decoration:none}


// beeldbank / beheersplannen label + colored

ul.tag-label, ul.tag-label-col  {margin:10px 0 0 0;}
.tag-label li, .tag-label-col li {float:$default-float;background-color:$light-gray;margin:0 15px 10px 0;display:block;padding:4px 10px;font-size:0.9em}
.tag-label li:first-child, .tag-label-col li:first-child {background:none;padding-left:0}
.tag-label li:last-child {background-color:$aluminum;}
.tag-label li a  {text-decoration:none !important;color:$black}
.tag-label li a span, .tag-label-col li a span  {margin:2px 0 0 10px;color:$alert-color;font-size:1.1em;border-left:1px solid $white;padding-left:10px;font-weight:bold;}

.tag-label li i  {margin:2px 0 0 10px;color:$alert-color;font-size:0.8em;border-left:1px solid $white;padding-left:10px;font-weight:bold;}

// label colored

.label-colored {background-color:$fresh-blue;}
.label-colored a {text-decoration:none !important;color:$white;padding-right:3px}
.label-colored a span {color:$white;border-left:1px dotted $info-color;padding-left:8px}



// img panel header ( home page )

h4.header-img-panel {text-transform:uppercase;font-size:1em;padding:20px 0}


// temp

/* inventaris article margin */

.articlemargin {width:70%;margin:0 auto}

@media only screen and (max-width:578px) {
   .articlemargin  {width:100%}

}

.color-cube {height:100px;width:100px;color:$white;float:$default-float;padding:5px}



// actoren / beheersplannen homepagina split columns

// icon large left
.icon-large-left {float:$default-float;margin:0 20px 30px 0;font-size:60px;color:$light-gray}
.vruler {border-left:1px solid $light-gray;padding-top:0px}






// panel actoren front end search 

.actoren-idcard {padding:0;background:$white;border:1px solid $mid-gray;}
.actoren-idcard a {display:block;min-height:78px}
.actoren-idcard a:hover {background:$white-gray;display:block;min-height:78px;}
.actoren-idcard h3 {font-size:1em; margin:0;padding:15px 0 0 0;}


.actoren-icon-large, .actoren-icon-small {float:$default-float;color:$light-gray;font-size:4em;padding:0px 20px 0 0;border-right:1px solid $mid-gray;margin-right:20px}
.actoren-icon-small {border-right:1px solid $mid-gray;margin-right:15px;font-size:3em;padding:15px 20px}


// placeholder  


.placeholder-container {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border: 1px solid $gray;

  color: rgba(0, 0, 0, 0.75);
  display: inline-table;
  vertical-align: top;
  font-size: 0.875rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  margin: 1px 0;
  margin-bottom: 16px;
}

.placeholder-disabled {
  background-color: #DDDDDD;
}
    
.placeholder-container label {
  display: table-cell;
  padding-left: 10px;
  color: $dark-gray;
	width: 20%;
	font-size: 0.775rem;
  vertical-align: middle;
  background-color: transparent;
}

.placeholder-container input[type="text"] {
  border: none !important;
  box-shadow: none;
  margin: 0;
  display: table-cell;
  background-color: transparent !important;
  color:$dark-gray
}

.placeholder-input {
  border: none !important;
  box-shadow: none;
  margin: 0;
  display: table-cell;
  background-color: transparent;
  background: none !important;
  padding-left: 8px;
}

.placeholder-container select {
  border: none;
  box-shadow: none;
  margin: 0;
  display: table-cell;
  background-color: transparent;
  -moz-appearance: none;
  height:37px;font-size:0.9em
}

.placeholder-container > .combo-dropdown {
  border: 0 !important;
}

.placeholder-container textarea {
  border: none !important;
  box-shadow: none;
  margin: 0;
  display: table-cell;
  background-color: transparent !important;
  resize: vertical;
}
.placeholder-container.error {
  border: 1px solid $alert-color !important;
}
.placeholder-input-border {
  border-left: 1px dotted #d3d3d3 !important;
}

.placeholder-input.dijitDateTextBox {
  padding-left: 0;
}

.placeholder-input.dijitDateTextBox .dijitArrowButtonContainer {
  border: none !important;
  background: none;
}

.placeholder-input.dijitDateTextBox .dijitInputContainer {
  min-height: 100%;
}

.placeholder-input.dijitDateTextBox input.dijitInputInner {
  padding: 0.5rem !important;
}

.placeholder-input.dijitDateTextBox input.dijitArrowButtonInner {
  width: 1.25rem;
  height: 100% !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
}

// placeholder form + icon 

.plus-icon {
  padding-top: 12px;
  padding-left: 8px;
  color: #3f3840;
}

.plus-icon-link {
  display:table-cell;
  border-left: 1px dotted #d3d3d3;
  float: left;
  vertical-align: middle;
  height: 37px;
}





//checkbox custom


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;  font-size:0.8em;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: $fresh-blue;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    font-size:0.8em;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: '\2714';
    background: $fresh-blue;
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
   content: '\2714';
    color: #bbb;
}


// postregistratie navigation bar 

.postreg-navbar {margin:0 auto;width:600px;}
@media only screen and (max-width:578px) {
 .postreg-navbar  {margin:0 auto;width:600px;display:table-cell}
}

@media only screen and (min-width:578px) and (max-width: 800px)  { .postreg-navbar  {margin:0 auto;width:600px;display:inline-block}}

// fix for dropdown arrow in firefox
select {
  -moz-appearance: none !important;
}






//Alt elements alert box 
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success .alert-link  {
  color: #2b542c; text-decoration: underline;
}


.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info .alert-link {
  color: #245269;text-decoration: underline;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning .alert-link {
  color: #66512c;text-decoration: underline;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger .alert-link {
  color: #843534;text-decoration: underline;
}




.bg-primary {
  background-color: #944ea1;
}
.bg-success {
  background-color: #43ac6a;
}
.bg-info {
  background-color: #5bc0de;
}
.bg-warning {
  background-color: #f08a24;
}
.bg-danger {
  background-color: #ff0000;
}









