@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

// colors
$mainpink: #a44697;
$black: #000;
$white: #FFF;
$softgray: #e5e5e5;
$softblue: #86abbe;
// ------

// links en header; din-condensed-web | 400
// main; museo-sans | 300 & 700

// overrides
ul.inline-list > li, ul.link-list > li{
	margin-left: 0;
}
ul.inline-list, ul.link-list {
	margin: 0;
}
.flex-caption{
	display:none;
}
// --------

.header{
	margin-top: 30px;

	h1{
		@include squish-text();
		width: 177px;
		height: 194px;
		margin: 20px auto 0 auto;
		background: url('../img/logo.png') no-repeat;
		a{
			height: 194px;
		}
	}

	.inline-list{
		a{
			font-size: emCalc(16px);
			color: $black;
			margin-right: 30px;
			&.last{
				margin-right:0;
			}
		}
	}

	.sub-nav{
		@include clearfix;
		margin-bottom: 40px;
	}

	.sub{
		margin-right: 40px;
	}

	.language-switch{
		li{
			width: 35px;

		}
		a{
			margin-right: 0;
			padding: 5px 10px;
		}
		.active, li:hover{
			background-color: $mainpink;
			@include border-radius(25px);

			a, a:hover{
				font-weight: 700;
				color: #FFF;
			}
		}
	}
	.nav{
		background-color: $black;
		padding: 15px 20px 10px 15px;

		li{
			padding-left: 10px;
			margin-bottom: 5px;
			width: 120px;
		}

		a{
			color: #b9d1dc;
			font-size: emCalc(20px);
			font-family: 'din-condensed-web';
		}
		.active, li:hover{
			a{
				color: $mainpink;
			}
		}
	}
	.searchfield	{
		background: $softblue;
		.search-input{
			margin: 9px;
			height:20px;
			border:none;
			@include box-shadow(none);
			@include border-radius(0);
		}
	}

	input[type="submit"]{
		border:none;
		width: 40px;
		height: 40px;
		background: url('../img/icons/magnifier.png') no-repeat center center;
		margin-left: 10px;
	}

	.main-nav{
		padding-right: 0;
	}

}

.main-title{
 	width: 80%;
	color: #922c85;
	font-size: emCalc(32px);
	font-weight: 100;
}

.overlay{
	left:0;
	top:0;
	position:absolute;
	z-index: 2;
}

.overlay-sub{
	position:static;
}

.upper-header{
	position:relative;
	z-index:1;
}

.lower-header{
	background: $softgray;
	position:relative;
	top: -75px;
	z-index: 0;
}

.no-pad-right{
	padding-right: 0 !important;
}
.no-pad-left{
	padding-left: 0 !important;
}

.padded-top{
	margin-top: 110px;
}


.gallery{
	position:relative;
	z-index: 0;
}

.caption{
	@include box-shadow(-50px -15px 0px -25px rgba(0, 0, 0, .6));
	padding: 15px;
	height: 340px;
	width: 268px;
	background-color: $mainpink;
	position: absolute;
	bottom: -40px;
	right: 0;
	h2{
		line-height: 36px;
		color: #FFF;
		font-family: Georgia;
		font-weight: 100;
		font-style: italic;
		font-size: emCalc(21px);
	}

	.controls{
		@include clearfix;
		background-color: $black;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		padding: 20px 15px 15px 15px;
	}

	.arrow-container{
		float:right
	}
}

.short-nav{

	h2, h3{
		margin-left: 10px;
		margin-bottom: 5px;
		margin-top: 0;
		font-weight: 100;
	}
	h2{
		font-family: 'din-condensed-web';
		font-size: emCalc(19px);		
	}

	h3{
		color: $black;
		font-size: emCalc(14px);
	}

	.short-nav-item{
		padding: 10px 5px 10px 10px;
		margin-bottom: 5px;
		@include clearfix;

		a{
			display: block;
			@include clearfix;
		}

		&:hover{

			background-color: #2da3ce;
			h3{
				color: #fff;
			}
		}
	}
	.active{
		background: #86abbe;
		h3{
			color: #fff;
		}
		
	}
}

.widget.latest-news{
	padding: 17px;

	.date{
		font-weight: 700;
	}

	li{
		list-style-type:none;
		border-bottom: 1px solid #cccccc;
		padding: 10px 0;
	}

	a{
		&:after{
			position: absolute;
			content: "\00BB";
			color: #000;
		}
	}
}

.widget.short-nav{

	.short-nav-item{
		&:hover{

			background-color: #86abbe;

		}
	}
}

.relative{
	line-height: 0;
	position: relative;
}

.sidebar{

	&.sidebar-left{
		margin-top: -30px;
	}

	p{
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 17px;
	}
}

.widget{
	@include clearfix;
	position: relative;
	margin-bottom: 40px;

	&.gray{
		background-color: #e9edee;
	}

	.thumb{
		display: block;
		float:left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.read-more{
		margin-top: 10px;
	}

	.widget-header{
		position: absolute;
		top: 20px;
		left: 20px;
		float:left;

		h1{
			@include inline-block;
			color: #fff;
			margin-left: 20px;
			margin-top: 0;
			font-size: emCalc(40px);
		}
	}
	.icons-calendar{
		float:left;
	}

	&.widget-calendar .bd{
		padding: 15px;
		position: absolute;
		bottom: 40px;
		.date{
			font-weight: 700;
			color: #fff;
			font-size: emCalc(22px);

		}

		h2{

			color: #2da3ce;
			font-size: emCalc(16px);
			margin-bottom: 0;
			margin-top: 5px;
		}

		background-color: $black;
	}

	&.gray, &.widget-list{
		padding:17px;
	}

	&.blue{
		li{
			list-style-type: none;
			border-bottom: 1px solid #cccccc;
			padding: 5px 0;
		}
		li:before{
			position: absolute;
			content: "\00BB";
			color: #2893ba;
		}
		.last{
			border-bottom: none;
		}

		a{
			padding-left: 20px;
			color: #000;
		}
	}


	&.tags{
		li{
			display: inline;
			a{
				color: #2893ba;
				border-bottom: 1px dotted #2893ba;
			}
		}

		li:after{
			content: ' -';
			color: #9a9a9a;
		}

		.last:after{
			content:'';
		}
	}

	&.twitter{
		background: #e2f2f9;
		padding: 17px;

		h1{
			line-height: .9em;
			@include text-shadow(3px 3px 0px #FFF);
			font-size:  emCalc(38px);
			color: #2da3ce;
			@include inline-block;
			width: 130px;
			margin-left: 10px;
		}

		p{
			font-family: 'Georgia';
			font-style: italic;
			a{
				text-decoration: underline;
				word-wrap:break-word;
			}
		}
		.icons-twitter{
			float:left;
		}
	}
}

.button{
	@include inline-block;
	border:none;

	&.blue{
		padding: 10px;
		background:#2da3ce;
		@include box-shadow(4px 4px 0px 0px rgba(0, 0, 0, .2));
	}
}

.content{

	&.sub{

		margin-top: -20px;
		
		.main-content{

			h2{
				font-size: emCalc(18px);
			}

			ul{
				margin-left: 30px;
				li{
					margin-bottom: 5px;
				}
			}

		}

		.intro{
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: emCalc(18px);
			font-family: Georgia;
			font-style: italic;
		}

		.body{
			line-height: 1.7em;
		}

		.body, .intro{
			a{
				color: #2893ba;
				border-bottom: 1px dotted #2893ba;
			}
		}
	}

	margin-bottom: 60px;

	h1{
		margin-top: 0;
		font-size: emCalc(24px);
		margin-bottom: 20px;
	}
}

.short-news{
	@include clearfix;
	border-bottom: 1px solid #cccccc;
	list-style-type: none;
	padding-bottom:5px;
	margin-bottom:5px;

	&.last{
		border:none;
	}

	.date{
		color: black;
		font-weight: 700;
		margin-right: 20px;
		float:left;
	}

	span{
		&:after{
			content: "\00BB";
			padding-left: 5px;
			color: #000;			
		}
		width: 440px;
		float: left;
	}

}

.middle-content{

	&.sub{
		
		.twelve{
			 h1{
			 	width: 80%;
				color: #922c85;
				font-size: emCalc(32px);
				font-weight: 100;
			}
		}
	}

	.latest-news{
		margin-bottom: 60px;
	}

	.latest-blog{
		.date{
			font-weight: 700;
		}
		h2{
			font-weight: 100;
			font-size: emCalc(21px);
			color:#118fbd;
		}
	}
}
.footer{
	background-color: #edeeef;

	.columns{
		padding-right: 0;
		padding-left: 0;


		&.last{
			padding-right: 60px;
		}
	}

}

.footer-item{
	position:relative;
	padding: 40px 20px;

	ul{
		padding-top: 15px;
	}

	li{
		list-style-type: none;
		margin-bottom: 5px;
	}

	h1{
		margin-top: 0;
		font-size: emCalc(24px);
	}

	&.light{
		background: url('../img/light-pattern-small.png') repeat-x left top;

		li {
			padding-left: 15px;
			background: url(../img/blue-list.png) no-repeat left center;
			a{
				color: #000;
			}
		}
	}
	&.dark{
		background: #000 url('../img/dark-pattern.png') repeat-x left top;
		height: 450px;
		position:relative;

		h1{
			color: #fff;
		}

		li{
			padding-left: 15px;
			background: url(../img/pink-list.png) no-repeat left center;
			a{
				color: #fff;
			}
		}
	}

	&.pink{
		background-image:none;
		padding: 0;
		position: absolute;
		top: -20px;
		right: 0;
		h1{
			color: #fff;
		}
		p{
			color: #fff;
			font-family: Georgia;
			font-style: italic;
		}
	}

	.inner{

		h1{
			background-color: #b43aa4;
			padding-top: 57px;
			padding-bottom: 18px;
			padding-left: 10px;
			margin-bottom: 0;
			@include box-shadow(0px 1px 0px 0px rgba(65, 26, 60, .22));
		}

		.newsletter-form{
			padding: 17px;

			input[type="text"]{
				border:none;
				@include border-radius(0);
				@include box-shadow(none);
			}

			input[type="submit"]{
				background: #5d2555;
				color: white;
				font-weight: bold;
				border:none;
				padding: 10px;
			}
		}
		background-color: #922c85;
		width: 290px;
	}
}

ul.breadcrumbs{
	background: none;
	border-radius:0;
	padding: 0;
	border:none;
	li a{
		text-transform: none;
		font-size: emCalc(14px);
	}

	li:before{
		color: #fff;
	}
}


.small-footer{
	padding: 20px 20px 0 20px;
	background-color: #2893ba;
	border-right: 22px solid #000;


	ul.breadcrumbs{
		li a{
			color: #fff;
		}
	}


	p{
		margin-bottom: 0;

	}
	

	li a{
		font-weight: 700;
	}
	p, li a{
		color: #fff;		
	}

	.info{
		float:left;
		margin-left: 20px;
	}
}

.credits{
	width: inherit !important;
	position:absolute;
	bottom:-60px;
}

.icons-overheid{
	float:left;
}

.glue-logo{
	float:right;
	margin-top: 45px;
	color:#000;
}

.footer-item .social-media{
	li{
		background: none;
		padding: 0 15px 0 0;
	}
}


.read-more:after{
	content: "\00BB";
	padding-left: 5px;
	color: #000;
}


.block{
	display: block;
	color: inherit;
}

.breadcrumb{
	background: #e5e5e5;
	position: absolute;
	right: 20px;
	bottom: 0px;

	.breadcrumbs{
		li{
			color: #585858;
			line-height: 1;
			padding: 0 10px 0 0;
		}
		padding: 3px;
		border:none;
		background: none;
		@include border-radius(0);
		margin-bottom: 0;

		li:before {
			content: ">";
			color: #585858;
		}

		.last {

			a{
				color: #000;
			}
		}

		li:nth-child(2):before{
			content: " ";
		}
	}
}

.sub-pages{
	.active{
		a{
			color: #922c85;
		}
	}
}

.archive, .sub-pages{
	li{
		list-style-position: inside;
		margin-bottom: 10px;
		margin-top: 10px;
		list-style-type: none;
		&:before{
			position: absolute;
			content: "\00BB";
			color: #922c85;
		}
		a{
			padding-left: 15px;
			display: block;
			border-bottom: 1px solid #cccccc;
			color: #000;
		}
	}

	.last a{
		border:none;
	}
	li ul{
		margin-left: 0;
		color: #2893ba;
		li{
			margin-left: 15px;
			display: block;
			&:before{
				content: " ";

			}
			a{
				border-bottom: 1px solid #e5e5e5;

			}
			background: url('../img/blue-list-circle.png') no-repeat left center;
			list-style-type: none;
		}
	}
	.active{
		list-style-type:none;
		&:before{
			position: absolute;
			content: "\00BB";
			color: #2893ba;
		}
	}
}

.info-caption{
	@include box-shadow(-30px -25px 0 -10px rgba(0, 0, 0, .6));
	background-color: #2ba5d2;
	width: 268px;
	min-height: 330px;
	position: absolute;
	right: 0;
	bottom:-30px;

	h1,h2,h3{
		margin-top: 0;
		margin-bottom: 10px;
	}

	h2{
		font-size: emCalc(14px);
		color: #fff;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	h3{
		font-size: emCalc(14px);
		font-weight: 100;
		margin-bottom: 20px;
	}

	.inner{
		padding: 20px;
	}

	.bottom{
		position:absolute;
		bottom: 0;
		width: 100%;
		padding: 20px;
		background-color: #2893ba;
	}

	li{
		display: inline;
		a{
			font-size: emCalc(14px);
			color: #fff;
			border-bottom: 1px solid #69b4cf;
		}
	}

}

.info-caption.sub{
	position:static;
	@include box-shadow(none);
	width: auto;
	margin-bottom: 40px;

	.bottom{
		p{
			font-style: normal;
			line-height: 1.7em;
			a{
				color: #fff;
				text-decoration: underline;
			}
		}
		position:static;
	}
}

.node-detail {
	.info-caption {
		li {
			display: block;
			margin-bottom: 5px;

			strong{
				font-size: emCalc(14px);
				color: #fff;
				text-transform: uppercase;
				display: block;
			}

		}
	}
}

.sub-side.sub-page{
	margin-top: 0;

	.widget{
		padding: 17px;
	}
}

.sub-side{
	margin-top:50px;
}

.comments{
	h1{
		span{
			font-weight: 100;
			font-size: emCalc(12px);
		}
	}

	h2{
		font-size:emCalc(24px);
		margin-bottom: 30px;
	}
	margin-top: 50px;
}

.comment{

	list-style-type: none;
	margin-bottom: 40px;

	.profile-thumb{
		padding-right: 0;

	}
	.bd{	
		font-family: Georgia;
		font-style: italic;

		padding: 20px;
		position: relative;
		background-color: #edeeef;
		&:before{
			left: -20px;
			top: 20px;
			position: absolute;
			//@include cssTriangle(10px, #edeeef, right);
		}
	}
}
.comment-form{
	padding: 20px;
	background: url(../img/light_pattern.png);

	input, textarea{
		@include border-radius(0);
		@include box-shadow(none);
		border:none;
		border-left:1px solid #bfbfbf;
		border-top:1px solid #bfbfbf;
	}
	input[type="submit"]{
		background-color:#922c85;
		color: #fff;
		border:none;
		padding: 10px;
		font-weight: 400;
		@include box-shadow(4px 4px 0px 0px rgba(0, 0, 0, .2));

	}
}
.share.button{
	position: absolute;
	right: 0;
	top: -35px;
	background-color:#86abbe;
	color: #fff;
	padding: 0;
	@include box-shadow(none);

	span{
		margin-left: 10px;
		color: #000;
	}
}

.blog-item-big{
	.media{
		background-color: #d6d6d6;
		h1{
			font-size: emCalc(15px);
			margin-bottom: 0;
			line-height: 1.6em;
		}

		.date{
			color: #922c85;
		}

		.inner{
			padding: 13px;
		}
	}
	.bd{

		p{
			color:#000;
		}
		h2{
			color: #118fbd;
			font-size: emCalc(18px);
			line-height: 1.5em;
			margin-top: 0;
		}
		padding: 13px;
		background: url('../img/white-pattern.jpg');
		
	}
}

.blog-item-small{
	margin-bottom: 25px;
	.media{
		@include clearfix;
		img{
			float:right;
		}
		background-color: #d6d6d6;
		h1{
			font-size: emCalc(15px);
			margin-bottom: 0;
			line-height: 1.5em;
		}

		.date{
			color: #922c85;
		}

		.inner{
			padding: 13px;
		}
	}
	.bd{
		p{
			color: #000;
		}
		h2{
			margin-top: 0;
			color: #118fbd;
			font-size: emCalc(18px);
			line-height: 1.5em;
		}
		padding: 13px;
		background: url('../img/white-pattern.jpg');
		
	}
}

.middle-content.sub.overview{
	.twelve h1{
		width: auto;
		color: #000;
		font-size: emCalc(24px);
		font-weight: bold;
	}
}

.blog-list{
	.date{
		padding: 3px;
		margin: 0 5px 0 15px;
		background-color:#e5e5e5;

		span{
			color: #a44697;
		}
	}

	li{
		padding: 5px 0;
		border-bottom: 1px solid #cccccc;
		&:before{
			position: absolute;
			content: "\00BB";
			color: #2893ba;
		}
		list-style-type: none;

		a{
			color: #000;
		}
	}
}

.blog-section, .news-section{	
	margin-bottom: 40px !important;
}

.news-section{
	.block-grid{
		a{
			position: relative;
			background-color: #000;
			padding: 15px;
		}	

		h1{
			margin-top: 10px;
			color: #fff !important;
			font-size: emCalc(18px);
		}

		.wrapper{
			position: absolute;
			top: 0;
			right: 15px;
			text-align:right;

			.deco{
				background: url(../img/black-line.jpg) no-repeat right top;	
				width: 30px;
				height: 3px;
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				right: 10px;
			}
		}
		.date{
			display: block;
			font-size: emCalc(28px);
			color: #000;
			line-height: 1.1em;
			span{
				color:#a44697;
			}

			padding: 10px;
			position:relative;
			background: url('../img/gray-pattern.jpg');

		}
	}
}

.project-thumb{
	background-color: #e9edee;
	margin-bottom: 25px;

	.bd{
		padding: 15px;
		h1{
			color: #118fbd;
			font-size: emCalc(18px);
		}
		
		.caps{
			text-transform: uppercase;
		}
		p{
			margin-bottom: 0;
			color: #000;
			span{
				color: #a44697;
			}
		}
	}
}

.blog-item{
	padding-bottom: 20px;
	margin-top: 40px;
	border-bottom: 1px solid #cccccc;
	.media{
		position: relative;
		margin-bottom: 15px;
	}

	h1{
		color: #118fbd;
		font-size: emCalc(18px);
		margin-bottom: 10px;
	}

	.meta{
		a{
			text-decoration: none;
			color: #922c85;
			border-bottom: 1px dotted #922c85;
		}
	}

	.wrapper{
			position: absolute;
			top: 0;
			right: 0;
			text-align:right;

			.deco{
				background: url(../img/black-line.jpg) no-repeat right top;	
				width: 30px;
				height: 3px;
				display: block;
				position: absolute;
				top: 0;
				z-index: 2;
				right: 10px;
			}
		}
		.date{
			display: block;
			font-size: emCalc(28px);
			color: #000;
			line-height: 1.1em;
			span{
				color:#a44697;
			}

			padding: 10px;
			position:relative;
			background: url('../img/gray-pattern.jpg');

		}
}

.map{
	height: 390px;
	margin-bottom: 40px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
	float:left;
	background-color:#fff;
	color: #000;
	
}
.leaflet-control-zoom-in{
	@include border-left-radius(3px);
	border-right: 1px solid #adadad;
	&:after {content:"+";}
}

.leaflet-control-zoom-out{
	@include border-right-radius(3px);
	&:after {content:"-";}
}

.leaflet-control{
	@include border-radius(3px);
	border: 1px solid #adadad;
}

.map-filters{
	@include clearfix;
	background-color: #000;
	margin-bottom:0;


	 li{
	 	list-style-type:none;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		float:left;

	}

	a:hover{
		background-color: #2893ba;

		span{
			background-color: #5fcaf2;
		}
	}

	a{
		padding: 15px;
		display: block;
		color: #fff;
		font-size: emCalc(15px);

		span{
			@include inline-block;
			margin-left: 10px;
			padding:10px;
			background-color: #2893ba;
			color: #000;
			@include border-radius(50px);
			line-height: 1em;
		}
	}
}

.map-contact{
	width: 265px;
	height: 333px;
	position: absolute;
	right: 0;
	bottom: -32px;
	@include box-shadow(-30px -25px 0 -10px rgba(0, 0, 0, .6));

}

.projects{
	.media{
		position:relative;
	}

	.media{
		span{
			position: absolute;
			left: 50%;
			margin-left: -28px;
			top: 50%;
			margin-top: -32px;
		}
	}
}

.header-wrapper{
	position:relative;
	margin-bottom: 70px;
}

.detail-caption{
	width: 260px;
	position: absolute;
	right: 0;
	bottom: -32px;
	@include box-shadow(-30px -25px 0 -10px rgba(0, 0, 0, .6));
}

.detail-wrapper{
	background: url('../img/trans-pattern.png');
	position:absolute;
	right: 0;
	bottom: 0;
	width: 310px;
	height: 100%;

	.top{
		h1{
			color: #118fbd !important;
			font-size: emCalc(18px) !important;
			font-weight: bold !important;
		}
		padding: 15px;
		background: url('../img/light_pattern.png');
	}

	.bottom{
		padding: 15px;
		background-color: #d6d6d6;
	}
}

.overview-block{
	margin-bottom: 30px;
	.block{
		line-height: 0;
	}
	.date{
		width: 100%;
		background-color:#d6d6d6;
		color: #000000;
		padding: 10px;
		display: block;
	}
	.info{
		padding: 15px;
		background: url(../img/light_pattern.png);

		h2{
			color: #118fbd;
			font-size: emCalc(18px);
		}
		.meta{
			a{
				text-decoration: none;
				color: #922c85;
				border-bottom: 1px dotted #922c85;
			}
		}
	}
}

.big-search{

	.searchfield	{
		background: $softblue;
		.search-input{
			margin: 9px;
			height:20px;
			border:none;
			@include box-shadow(none);
			@include border-radius(0);
		}
	}

	input[type="submit"]{
		border:none;
		width: 40px;
		height: 40px;
		background: url('../img/icons/magnifier.png') no-repeat center center;
		margin-top:5px;
		margin-left: 25px;
	}
}


.nested-list{

	&.faq{
		h1{
			margin-bottom: 20px;
			font-size: emCalc(18px);
		}

		h2{
			color:#118fbd;
		}

		 li ul{
			margin-bottom: 40px;
		}
	}
}

.item-list{
	margin-left:0 !important; 
	list-style-type:none;
	.item{
		margin-bottom: 100px;
		h1{
			margin-top: 20px;
			font-size: emCalc(18px);
		}
	}

}

.article-items{
	margin-bottom: 100px;
	.inline-list{

		margin-left: 0 !important;
		li{
			a{
				font-size: emCalc(14px);
			}
			margin-right: 10px;
		}
	}
	h1{
		font-size: emCalc(18px);
		margin-bottom: 10px;
	}
	p{
		margin-top: 20px;
	}
}

.document {

	.bron {
		@include panel;

		.auteurs-lijst {
			li{
				display: inline;
				a{
					color: #2893ba;
					border-bottom: 1px dotted #2893ba;
				}
			}

			li:after{
				content: '; ';
			}

			.last:after{
				content:'. ';
			}
		}
	}
}

.zoekresultaat {

	@include panel;
	@include clearfix;

	.th {
		margin-right: 25px;
	}

	.korte_beschrijving{
		//margin-top: 30px;
		//margin-bottom: 30px;
		//font-size: emCalc(18px);
		font-family: Georgia;
		font-style: italic;
	}
}


// icon shizzle

$icons-sprite-dimensions: true;
// This returns width/height for each image
@import "icons/*.png";
@include all-icons-sprites;
.icon {
  @include squish-text();
  @include inline-block();
}
