{% extends "layout.jinja2" %}

{% set mailto_error = mailto_error|default('ict@onroerenderfgoed.be') -%}
{% set app_package = app_package|default('Pyoes') %}

{% block html_title %}Aanmelden mislukt | {{ app_package }} | Onroerend Erfgoed{% endblock %}

{% block content %}
<div class="vl-typography oe-error-page">
  <h1 class="vl-title vl-title--h1">401 - Paswoord vereist.</h1>
  <p class="vl-introduction">Je kan deze pagina alleen maar bekijken als je beschikt over een paswoord. Heb je net geprobeerd om in te loggen? Dan was je login om de een of andere reden ongeldig.</p>
  <h2 class="vl-title vl-title--h3">Wat kan je zelf doen?</h2>
  <ul>
    <li><strong>Controleer je logingegevens.</strong></li>
    <li>Lukt het aanmelden niet? Mail naar <a class="vl-link" href="mailto:{{ mailto_error }}">{{ mailto_error }}</a>.</li>
  </ul>
</div>
{% endblock %}
