{% extends "layout.jinja2" %}

{% set mailto_error = mailto_error|default('ict@onroerenderfgoed.be') -%}
{% set app_package = app_package|default('Pyoes') %}

{% block html_title %}Geen toegang | {{ app_package }} | Onroerend Erfgoed{% endblock %}

{% block content %}
<div class="vl-typography oe-error-page">
  <h1 class="vl-title vl-title--h1">403 - De pagina is afgeschermd.</h1>
  <p class="vl-introduction">Deze pagina is niet voor jou bedoeld. Slechts een beperkt aantal mensen heeft de rechten om ze te bekijken.</p>
  <h2 class="vl-title vl-title--h3">Wat kan je zelf doen?</h2>
  <ul>
    <li>Mail naar <a class="vl-link" href="mailto:{{ mailto_error }}">{{ mailto_error }}</a> als je de rechten wilt bekomen.</li>
  </ul>
</div>
{% endblock %}
