{% extends "layout.jinja2" %}

{% set mailto_notfound = mailto_notfound|default('ict@onroerenderfgoed.be') -%}
{% set app_package = app_package|default('Pyoes') %}

{% block html_title %}Pagina niet gevonden | {{ app_package }} | Onroerend Erfgoed{% endblock %}

{% block content %}
<div class="vl-typography oe-error-page">
  <h1 class="vl-title vl-title--h1">404 - De pagina werd niet gevonden.</h1>
  <p class="vl-introduction">De pagina die je hebt opgevraagd, bestaat niet (meer) of ze is verplaatst.</p>
  <h2 class="vl-title vl-title--h3">Wat kan je zelf doen?</h2>
  <ul>
    <li><strong>Controleer de schrijfwijze van de URL.</strong> De oorsprong van dit probleem kan een eenvoudige tikfout zijn.</li>
    <li><strong>Ben je foutief doorgelinkt?</strong> Meld het ons via <a class="vl-link" href="mailto:{{ mailto_notfound }}">{{ mailto_notfound }}</a>.</li>
    <li><strong>Werd de pagina gewist of verplaatst?</strong> Dan kan je een nieuwe zoekopdracht starten op de <a class="vl-link" href="{{ request.route_path('home') }}">homepagina</a>.</li>
  </ul>
</div>
{% endblock %}
