# Runtime requirements
--requirement requirements.txt

# Development server
waitress==0.8.9
pyramid_debugtoolbar==2.1

#Sphinx
sphinx==1.2.3

# Testing
pytest==2.5.1
py==1.4.19
pytest-cov==1.6
coveralls

# Linting
pep8==1.4.6
