# Runtime requirements
--requirement requirements.txt

# Development server
waitress==2.1.2

# Sphinx
Sphinx==7.1.2
sphinxcontrib-httpdomain==1.8.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-plantuml==0.27
oe-sphinx-theme==0.4.0

# Testing
pytest==7.4.3
pytest-cov==4.1.0
coveralls==3.3.1

# Linting
pep8==1.7.1
