# Runtime requirements
--requirement requirements.txt

# Development server
waitress==1.4.3
pyramid_debugtoolbar==4.5

#Sphinx
sphinx==1.7.4

# Testing
pytest==3.5.1
py==1.10.0
pytest-cov==2.5.1
coveralls==1.5.0

# Linting
pep8==1.7.1
