{% extends "pyoes/layout.jinja2" %}

{% block content %}


<!-- pagination -->
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href=""> &lsaquo; vorige</a></li>
        <li class=""><a href="">lijstscherm</a></li>
        <li class="arrow"><a href="">volgende  &rsaquo;</a></li>
      </ul>
    </div>
<!-- end pagination -->



<div class="row">
  <div class="large-12 columns">
    <div class="panel">

    <i class="fa fa-building" style="color:#efefef;font-size:4em;padding:6px 20px 0 0;float:left"></i></a>
    <h1>Onroerend erfgoed</h1>
    <h3><small>ID : 501</small></h3>


  <div class="row">
    <div class="large-8 medium-8 columns">

  <table class="table">

    <tbody>
      <tr>
        <td style="width:150px">Afkorting</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Actortype</td>
        <td>bedrijf</td>
      </tr>

      <tr>
        <td>Telefoon</td>
        <td>02/553.16.50</td>
      </tr>

      <tr>
        <td>Fax</td>
        <td>02/553.16.55</td>
      </tr>

      <tr>
        <td>Email werk</td>
        <td><a href="mailto:info@vioe.be">info@vioe.be</a></td>
      </tr>

      <tr>
        <td>URL website</td>
        <td><a href="http://www.onroerenderfgoed.be/" target="blank">http://www.onroerenderfgoed.be/</a></td>
      </tr>

      <tr>
        <td>Adres</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Opmerkingen</td>
        <td> - </td>
      </tr>
</table>
              </div>


<!-- right column -->

  <div class="large-4 medium-4 columns">

     <dl class="source-authors">
          <dt>Status</dt>
          <dd>Klad <br>(Laatst gewijzigd door taeymma op 2015-03-11 om 13:25:45.734485)</dd>
          <dt>Aangemaakt door</dt>
          <dd>Anoniem op 2007-10-05 om 00:14:12</dd>
          <dt>Laatst bewerkt door</dt>
          <dd><span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Vandaeko</span>
          op <time itemprop="datePublished" datetime="2009-05-06">2009-05-06 om 23:29:32</time></dd>
     </dl>


  </div>

<!-- end right column -->


            </div>

         </div>

      </div>
   </div>





<!-- div class="row">
  <div class="large-12 columns ">
<h3>Relaties</h3>
      </div>
   </div -->



<!-- start row -->

<div class="row">


<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Vanderhispallie<br>Eelkje</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>



</div>
<!-- end row-->

<!-- start row -->

<div class="row">

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>

<div class="large-3 medium-3 columns">

    <div class="panel" style="padding:0;background:#fff;border:1px dashed #d1d1d1;">
          <div class="clearfix">
          <div class="" style="float:left;border-right:1px solid #efefef;margin-right:10px">
          <i class="fa fa-user" style="color:#efefef;font-size:3em;padding:15px;"></i></a>
          </div>
          <h3 style="font-size:1em; margin:0;padding:15px 0 0 0;"><a href="actorenfront/detail">Van Daele <br> Koen</a></h3>
          <small>ID : 1</small>
          </div>
    </div>

</div>



</div>
<!-- end row-->




<!--
<a href="">Van Daele, Koen</a> (omvat)<br>
<a href="">Meylemans, Erwin</a> (omvat)<br>
<a href="">Cousserier, Katrien</a> (omvat)<br>
<a href="">Jansen, Isabelle </a> (omvat)<br>
<a href="">Hooft, Elise </a> (omvat)<br>
<a href="">Cherretté, Veerle </a> (omvat)<br>
<a href="">Kennes, Hilde </a> (omvat)<br>
<a href="">Driessen, Carolien </a> (omvat)<br>
<a href="">De Schutter, Maria </a> (omvat)<br>
<a href="">Jacobs, Bernadette </a> (omvat)<br>
<a href="">Michiels, Marijke </a> (omvat)<br>
<a href="">Buyle, Marianne </a> (omvat)<br>
<a href="">De Bodt, Vicky </a> (omvat)<br>
<a href="">Verwinnen, Katrien </a> (omvat)<br>
<a href="">Moeykens, Sofie </a> (omvat)<br>
<a href="">Braeken, Jo </a> (omvat)<br>
<a href="">Bergmans, Anna </a> (omvat)<br>
<a href="">Vynckier, Geert </a> (omvat)<br>
<a href="">Brees, Joris </a> (omvat)<br>
<a href="">Vanderhispallie, Eelkje </a> (omvat)<br>
<a href="">Meganck, Leen </a> (omvat)<br>
<a href="">Debonne, Vincent </a> (omvat)<br>
<a href="">Denis, Hans </a> (omvat)<br>
<a href="">Lo, Eva </a> (omvat)<br>
<a href="">Roose, Patrick </a> (omvat)<br>
<a href="">Heyn, Moira </a> (omvat)<br>
<a href="">Verhulst, Maryline </a> (omvat)<br>
<a href="">Vandesande, Aziliz </a> (omvat)<br>
<a href="">Ameels, Vera </a> (omvat)<br>
<a href="">Thomas, Hans </a> (omvat)<br>
<a href="">Daveloose, Barbara </a> (omvat)<br>
<a href="">De Haan, Aukje </a> (omvat)<br>
<a href="">Verboven, Hilde </a> (omvat)<br>
<a href="">Pieters, Marnix </a> (omvat)<br>
<a href="">Haneca, Kristof </a> (omvat)<br>
<a href="">Smets, Koen </a> (omvat)<br>
<a href="">Bartels, Walter </a> (omvat)<br>
<a href="">Buijs, Joke </a> (omvat)<br>
<a href="">Deforce, Koen </a> (omvat)<br>
<a href="">Hulstaert, Willem </a> (omvat)<br>
<a href="">van den Bossche, Herman </a> (omvat)<br>
<a href="">Verdurmen, Inge </a> (omvat)<br>
<a href="">Becuwe, Frank </a> (omvat)>
-->

<!-- search 2 -->

<div class="row">
  <div class="large-12 columns ">
    <div class="panel fl-block-search">
      <form name="" action="#" method="post" class="clearfix">
      <div class="searchBox">
          <input type='text' placeholder='zoek' />
          <button>zoeken</button>
          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- end search 2 -->



{% endblock %}