{% extends "pyoes/layout.jinja2" %}

{% block content %}


<!-- pagination -->
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href=""> &lsaquo; vorige</a></li>
        <li class=""><a href="">lijstscherm</a></li>
        <li class="arrow"><a href="">volgende  &rsaquo;</a></li>
      </ul>
    </div>
<!-- end pagination -->



<!-- content -->

<div class="row">

<div class="large-12 columns panel">

  <i class="fa fa-icon-user"></i></a>



<h1>Van Daele, Koen</h1>
<small>ID : 1</small>

<table class="table">

    <tbody>
      <tr>
        <td style="width:150px">Afkorting</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Actortype</td>
        <td>persoon</td>
      </tr>

      <tr>
        <td>Telefoon</td>
        <td>02/553.16.82</td>
      </tr>

      <tr>
        <td>Email werk</td>
        <td><a href="mailto:koen.vandaele@rwo.vlaanderen.be">koen.vandaele@rwo.vlaanderen.be</a></td>
      </tr>

      <tr>
        <td>Adres</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Opmerkingen</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Relaties</td>
        <td>Onroerend Erfgoed (is deel van)</td>
      </tr>

    </tbody>
</table>



<ul class="source">
<li>Huidige status : Klad (Laatst gewijzigd door taeymma op 2015-03-11 13:25:45.734485).</li>
<li>Aangemaakt door : Anoniem op 2007-10-05 00:14:12</li>
<li>Laatst bewerkt door : <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Vandaeko</span>
<time itemprop="datePublished" datetime="2009-05-06">2009-05-06 23:29:32</time></li>
</ul>



  </div>

</div>




<div class="row">

<!-- search 2 -->
<div class="panel fl-block-search">

      <form name="" action="#" method="post" class="clearfix">
      <div class="searchBox">
          <input type='text' placeholder='zoek' />
          <button>zoeken</button>
          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small>
      </div>
      </form>

    </div>
<!-- end search 2 -->
</div>


{% endblock %}