{% extends "layout.jinja2" %}
{% block content %}


<!-- pagination -->
    <div class="pagination-centered">
      <ul class="pagination">
        <li class="arrow unavailable"><a href=""> &lsaquo; vorige</a></li>
        <li class=""><a href="">lijstscherm</a></li>
        <li class="arrow"><a href="">volgende  &rsaquo;</a></li>
      </ul>
    </div>
<!-- end pagination -->



<div class="row">
  <div class="large-12 columns ">
    <div class="panel">

<header>
    <i class="fa fa-building actoren-icon-large"></i></a>
    <h1 style="margin:0">Onroerend erfgoed</h1>
    <h3><small>ID : 1</small></h3>
</header>



  <table class="table">

    <tbody>
      <tr>
        <td style="width:150px">Afkorting</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Actortype</td>
        <td>bedrijf</td>
      </tr>

      <tr>
        <td>Telefoon</td>
        <td>02/553.16.50</td>
      </tr>

      <tr>
        <td>Fax</td>
        <td>02/553.16.55</td>
      </tr>

      <tr>
        <td>Email werk</td>
        <td><a href="mailto:info@vioe.be">info@vioe.be</a></td>
      </tr>

      <tr>
        <td>URL website</td>
        <td><a href="http://www.onroerenderfgoed.be/" target="blank">http://www.onroerenderfgoed.be/</a></td>
      </tr>

      <tr>
        <td>Adres</td>
        <td> - </td>
      </tr>

      <tr>
        <td>Opmerkingen</td>
        <td> - </td>
      </tr>
</table>



           <!-- relaties -->


<!-- start row -->

<div class="row">

<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
      <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>

</div>

<!-- end row-->



<!-- start row -->

<div class="row">

<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
      <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>


<div class="large-3 medium-3 columns">

    <div class="panel actoren-idcard">
     <a href="actorenfront/detail">
          <div class="actoren-icon-small clearfix">
          <i class="fa fa-user"></i>
          </div>
          <h3>Van Daele <br> Koen</h3>
          <small>ID : 1</small>
      </a>
    </div>

</div>

</div>

<!-- end row-->

<div class="row">
<div class="large-12 columns">
<ul class="source-authors">
<li>Huidige status : Klad</li>
<li>Laatst gewijzigd door : Taeymma op 2015-03-11 om 13:25:45.734485.</li>
<li>Aangemaakt door : Anoniem op 2007-10-05 om 00:14:12</li>
<li>Laatst bewerkt door : <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Vandaeko</span> op
<time itemprop="datePublished" datetime="2009-05-06">2009-05-06 om 23:29:32</time></li>
</ul>

</div>

</div>


<!-- end relaties -->

         </div>

      </div>
   </div>










<!-- search 2 -->
<div class="row">
<div class="large-12 columns">

<div class="panel fl-block-search">
      <form name="" action="#" method="post" class="clearfix">
      <div class="searchBox">
          <input type='text' placeholder='zoek' />
          <button>zoeken</button>
          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small>
      </div>
      </form>
</div>
</div>
<!-- end search 2 -->




<!--
<a href="">Van Daele, Koen</a> (omvat)<br>
<a href="">Meylemans, Erwin</a> (omvat)<br>
<a href="">Cousserier, Katrien</a> (omvat)<br>
<a href="">Jansen, Isabelle </a> (omvat)<br>
<a href="">Hooft, Elise </a> (omvat)<br>
<a href="">Cherretté, Veerle </a> (omvat)<br>
<a href="">Kennes, Hilde </a> (omvat)<br>
<a href="">Driessen, Carolien </a> (omvat)<br>
<a href="">De Schutter, Maria </a> (omvat)<br>
<a href="">Jacobs, Bernadette </a> (omvat)<br>
<a href="">Michiels, Marijke </a> (omvat)<br>
<a href="">Buyle, Marianne </a> (omvat)<br>
<a href="">De Bodt, Vicky </a> (omvat)<br>
<a href="">Verwinnen, Katrien </a> (omvat)<br>
<a href="">Moeykens, Sofie </a> (omvat)<br>
<a href="">Braeken, Jo </a> (omvat)<br>
<a href="">Bergmans, Anna </a> (omvat)<br>
<a href="">Vynckier, Geert </a> (omvat)<br>
<a href="">Brees, Joris </a> (omvat)<br>
<a href="">Vanderhispallie, Eelkje </a> (omvat)<br>
<a href="">Meganck, Leen </a> (omvat)<br>
<a href="">Debonne, Vincent </a> (omvat)<br>
<a href="">Denis, Hans </a> (omvat)<br>
<a href="">Lo, Eva </a> (omvat)<br>
<a href="">Roose, Patrick </a> (omvat)<br>
<a href="">Heyn, Moira </a> (omvat)<br>
<a href="">Verhulst, Maryline </a> (omvat)<br>
<a href="">Vandesande, Aziliz </a> (omvat)<br>
<a href="">Ameels, Vera </a> (omvat)<br>
<a href="">Thomas, Hans </a> (omvat)<br>
<a href="">Daveloose, Barbara </a> (omvat)<br>
<a href="">De Haan, Aukje </a> (omvat)<br>
<a href="">Verboven, Hilde </a> (omvat)<br>
<a href="">Pieters, Marnix </a> (omvat)<br>
<a href="">Haneca, Kristof </a> (omvat)<br>
<a href="">Smets, Koen </a> (omvat)<br>
<a href="">Bartels, Walter </a> (omvat)<br>
<a href="">Buijs, Joke </a> (omvat)<br>
<a href="">Deforce, Koen </a> (omvat)<br>
<a href="">Hulstaert, Willem </a> (omvat)<br>
<a href="">van den Bossche, Herman </a> (omvat)<br>
<a href="">Verdurmen, Inge </a> (omvat)<br>
<a href="">Becuwe, Frank </a> (omvat)>
-->





{% endblock %}