{% extends "inventaris-layout.jinja2" %}
{% block content %}



<!-- content -->



<div class="row">
  <div class="large-12 columns">

    <div class="panel">


      <article>

      <header style="text-align:center;">
      <h1 itemprop="name">Dorpswoning met reclameschildering</h1>
       <small>ID : 214860</small>
      </header>


        <div style="text-align:center;margin:20px 0">
              <figure class="bb-imagelarge">
              <!-- img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/187263?size=full" style="height:400px" -->
              <img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/217304?size=full">
              </figure>
        <small><a href="">toon alle foto's</a></small> &nbsp; <small><a href="">toon op kaart</a></small>
        </div>


<div class="articlemargin">

<h3>Administratieve Gegevens</h3>

              <table>

                <tr>
                  <th>Alternatieve naam</th>
                  <td> </td>
                </tr>

                <tr>
                  <th>Provincie</th>
                  <td>Vlaams-Brabant</td>
                </tr>

                <tr>
                  <th>Gemeente</th>
                  <td>Londerzeel</td>
                </tr>

                <tr>
                  <th>Deelgemeente</th>
                  <td>Londerzeel</td>
                </tr>
                <tr>
                  <th>Adres</th>
                  <td>Stationsstraat 47</td>
                </tr>
                <tr>
                  <th>Status</th><td>
                  <a href="/dibe/relict/214860/locatie/adressen" title="Ga naar de uitgebreide adres- en statusinformatie voor dit relict."> Bewaard</a>
                  </td>
                </tr>
                <tr>
                <th>Vastgesteld</th>
                <td>Ja</td>
                </tr>
                <tr>
                <th>Beschermingen</th>
                <td>
                    <ul class="disk">
                    <li><a href="https://beschermingen.onroerenderfgoed.be/object/id/4.01/23045/122.1/" target="_blank">4.01/23045/122.1</a></li>
                    <li><a href="https://beschermingen.onroerenderfgoed.be/object/id/4.02/23045/106.1/" target="_blank">4.02/23045/106.1</a></li>
                    </ul>
                </td>
                </tr>
                <tr>
                <th>Gebeurtenissen</th>
                <td>

                Aanvulling inventaris bouwkundig erfgoed 2012 (01-01-2012 - 31-12-2012).

                </td>
                </tr>
                <tr>
                  <th>Verdere informatie</th>
                  <td></td>
                </tr>
                </td>
                </tr>

            </table>


<h3>Beknopte karakterisering</h3>


    <table>
        <tr>
            <th>Typologie</th>
            <td><a href="/thesaurus/typologie/126">dorpswoningen</a></td></tr><tr>
            <th>Context</th>
            <td></td>
         </tr>
         <tr>
         <th>Datering</th><td><a href="/thesaurus/datering/1068">vóór WO I</a></td>
         </tr>
         <tr>
         <th>Stijl</th>
         <td></td>
         </tr>
            <tr>
            <th>Trefwoorden</th>
            <td>Reclameschilderingen</td>
        </tr>
    </table>



<h3>Beschrijving</h3>

    <p>Eenvoudige dorpswoning van vier traveeën en anderhalve bouwlaag onder zadeldak, kadastraal geregistreerd in 1912 als 'nouvelle construction' voor Karel Van der Straeten - Van Steen, 'verkensbeenhouwer'. Lijstgevel met karakteristieke gevelbekleding van wit geglazuurde baksteen uit het eerste kwart van de 20ste eeuw. Decoratieve accenten door de verwerking van groen geglazuurde baksteen. Rechthoekige vensters met vernieuwd schrijnwerk op hardstenen lekdrempels. Steekboogdeur.</p>

    <p>Het meest opvallende aan de woning is evenwel de reclameschildering op de rechtse zijgevel. Ze is van de hand van de amateurschilder Jan Stroobants en kreeg de benaming "Olijfje 1938" omdat het figuurtje duidelijk geïnspireerd is op Olive, het vriendinnetje van Popeye uit de tekenfilms. De bijhorende slagzin luidt "Kookt elektrisch". De opdrachtgever was ENB (Elektriciteit Noord België). Het was de bedoeling om met geschilderde muurreclame het gebruik van elektrische fornuizen te stimuleren. Het jaar 1938 verwijst naar het jaar dat elektrische fornuizen voor het eerst massaal werden geproduceerd. Onderaan rechts wordt een telefoonnummer aangehaald; op basis hiervan kon de schilder achterhaald worden. Naar verluidt zou de muurschildering in meerdere exemplaren hebben bestaan doch dit is het enig gekende, bewaarde exemplaar.</p>


<p>Gegevens verstrekt door de heer E. Deschepper.<br>
Kadasterarchief Vlaams-Brabant, Londerzeel, 1ste afdeling, sectie C, mutatieschetsen 1912/18.</p>

<div style="background:#efefef;height:319px; margin:30px 0">kaart</div>


<section>
<ul class="source">
<li>Bron : -</li>
<li>Auteurs : <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Kennes, Hilde</span></li>
<li>Datum : <time itemprop="datePublished" datetime="2014-12-16">16 december 2014</time></li>
</ul>
</section>


<hr>

<ul class="socialbox dropdown right clearfix">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
    <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
</ul>

<hr>

<section>
<h4>Relaties</h4>
<ul class="disk">
    <li><span>maakt deel uit van <a href="/dibe/geheel/21475">Londerzeel</a></span></li>
    <li><span>maakt deel uit van <a href="/dibe/geheel/21475">Londerzeel</a></span></li>
    <li><span>maakt deel uit van <a href="/dibe/geheel/21475">Londerzeel</a></span></li>
    <li><span>maakt deel uit van <a href="/dibe/geheel/21475">Londerzeel</a></span></li>
</ul>
</section>


</div>


</article>


</div>



</div>

<!-- search 3 extended -->


    <div class="large-12 columns">
        <div class="panel fl-block-search">

        <form name="" action="#" method="post" class="clearfix">


              <div class="row">
                 <div class="large-4 medium-4 columns">
                      <select>
                        <option value="">filter op</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                      </select>
              </div>

              <div class="large-8 medium-8 columns">

              <div class="searchBox">
                   <input type='text' placeholder='zoek foto' />
                   <button>toepassen</button>
                   </div>
                </div>
             </div>

        </form>



       </div>
    </div>

<!-- end search 3 extended-->
</div>





    </div>

  </div>
</div>




<!-- end content -->




<!-- footer -->
{% include "pyoes/footer.jinja2" %}
<!-- end footer -->



{% endblock %}