<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
        <ul>
          <li><a class="active" href="#">Onderwijs &amp; vorming</a></li>
          <li><a href="#">Leren</a></li>
          <li><a href="#">Werken in het onderwijs</a></li>
          <li><a href="#">A-Z index</a></li>
          <li><a href="#">Wegwijs in de administratie</a></li>
          <li><a href="#">Departementen</a></li>
        </ul>

        <ul>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Nieuwsbrief</a></li>
          <li><a href="#">Statistieken</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Contact</a></li>
          <li><span class="is-vishidden">Language</span>
            <ul class="lang-switch clearfix">
              <li><a class="active" href="#">NL</a></li>
              <li><a href="#">FR</a></li>
              <li><a href="#">DE</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </li>
        </ul>
        
        <article>
          <a href="#"><img alt="Alt tag" src="static/img/pyoes/footer-300x250.jpg"></a>
        </article>
      </nav>
    </div>
  </footer>
<!-- end footer -->
