::-moz-placeholder {
    color: $placeholder-gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $placeholder-gray;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: $placeholder-gray;
    opacity: 1;
}

:-moz-placeholder {
    color: $placeholder-gray;
    opacity: 1;
}
