<a href="#" class="button">Default Button</a>

<a href="#" class="button disabled">Disabled Button</a>

<a href="#" class="button [secondary success alert]">Color Button</a>

<a href="#" class="button alert">Alert Button</a>


<br><br>


<!-- Expand Class -->
<a href="#" class="button expand">Expanded Button</a>

<!-- Expand Class Small-->
<a href="#" class="button expand [tiny small large]">Small Expanded Button</a>


<br><br>

<!-- Small Class -->
<a href="#" class="button [tiny small large]">Default Button</a>

<a href="#" class="button disabled [tiny small large]">Disabled Button</a>

<a href="#" class="button [secondary success alert] [tiny small large]">Color Button</a>

<a href="#" class="button alert [tiny small large]">Alert Button</a>


<hr>
<p class="text-center">Button group</p>

<div class="button-bar">
  <ul class="button-group">
    <li><a href="#" class="small button">Button 1</a></li>
    <li><a href="#" class="small button">Button 2</a></li>
    <li><a href="#" class="small button">Button 3</a></li>
  </ul>
</div>


<hr>
<p class="text-center">Floats vorige /volgende</p>

<div class="clearfix">
    <a class="small button right">Volgende</a>
    <a class="small button left">Vorige</a>
</div>



<hr>

<p class="text-center">Dropdown button ( click )</p>

<button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="small">Dropdown </button>
<ul id="drop1" class="f-dropdown " data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">link 1</a></li>
  <li><a href="#">link 2</a></li>
  <li><a href="#">link 3</a></li>
</ul>




<hr>
<p class="text-center">Labels</p>

<span class="label">Regular Label</span>
<span class="[success alert secondary] label">Advanced Label</span>

