<form class="vl-form">
  <h2 class="vl-title vl-title--h3">Reacties (0)</h2>
  <h3 class="vl-title vl-title--h4">Reageer op dit artikel</h3>

  <div class="vl-form__row">
    <label class="vl-form__label vl-form__label--block" for="comment-name">Naam</label>
    <input class="vl-input-field" type="text" id="comment-name" placeholder="naam">
  </div>

  <div class="vl-form__row">
    <label class="vl-form__label vl-form__label--block" for="comment-email">Email adres</label>
    <input class="vl-input-field" type="email" id="comment-email" placeholder="email">
  </div>

  <div class="vl-form__row">
    <label class="vl-form__label vl-form__label--block" for="comment-text">Reactie</label>
    <textarea class="vl-textarea" id="comment-text" placeholder="omschrijving"></textarea>
  </div>

  <a href="#" class="vl-button vl-u-spacer-top--small">Plaats reactie</a>
</form>
