@import "compass/utilities/general/clearfix";
@import "pyoes/settings";

.zoekresultaat {

	@include panel($softgray, emCalc(20px));
	@include clearfix;

	.th {
		margin-right: emCalc(20px);
		float: left;
	}

	.pinpointholder {
		float: right;
	}

	h2{
		color: $mainpink;
		font-size: emCalc(28px);
		font-weight: 400;
		margin-bottom: emCalc(10px);
	}

	h4 {
		color: $black;
		font-size: emCalc(22px);
		font-weight: 100;
	}

	.preview {
		font-style: italic;
	}
}
