<section aria-labelledby="downloads-title">
  <header class="vl-sidebar-header">
    <h2 id="downloads-title" class="vl-title vl-title--h3 vl-sidebar-header__title">Downloads</h2>
  </header>
  <div class="vl-sidebar-content">
  <ul class="vl-icon-list">
    <li class="vl-icon-list__item">
      <span class="vl-vi vl-vi-data-download" aria-hidden="true"></span>
      <a class="vl-link" href="#">De Onderwijsspiegel 2013</a>
    </li>
    <li class="vl-icon-list__item">
      <span class="vl-vi vl-vi-data-download" aria-hidden="true"></span>
      <a class="vl-link" href="#">Studietoelagen 2013</a>
    </li>
    <li class="vl-icon-list__item">
      <span class="vl-vi vl-vi-data-download" aria-hidden="true"></span>
      <a class="vl-link" href="#">Subsidies &amp; steun 2013</a>
    </li>
  </ul>
  <a class="vl-link" href="#">meer downloads <span class="vl-vi vl-vi-arrow-right" aria-hidden="true"></span></a>
  </div>
</section>
