<section aria-labelledby="newsfeed-title">
  <header class="vl-sidebar-header">
    <h2 id="newsfeed-title" class="vl-title vl-title--h3 vl-sidebar-header__title">
      <a class="vl-link" itemprop="url" href="#">Nieuwsfeed</a>
    </h2>
  </header>
  <div class="vl-sidebar-content">

    <article class="vl-u-spacer-bottom--small" itemscope itemtype="http://schema.org/Article">
      <a class="vl-news-teaser" itemprop="url" href="#">
        <div class="vl-news-teaser__content">
          <time class="vl-news-teaser__label" itemprop="datePublished" datetime="">16u</time>
          <h3 class="vl-news-teaser__title" itemprop="name">Vlaamse overheid is werkgever van het jaar</h3>
        </div>
      </a>
    </article>
    <article class="vl-u-spacer-bottom--small" itemscope itemtype="http://schema.org/Article">
      <a class="vl-news-teaser" itemprop="url" href="#">
        <div class="vl-news-teaser__content">
          <time class="vl-news-teaser__label" itemprop="datePublished" datetime="">16u</time>
          <h3 class="vl-news-teaser__title" itemprop="name">De stemmen zijn geteld</h3>
        </div>
      </a>
    </article>
    <article class="vl-u-spacer-bottom--small" itemscope itemtype="http://schema.org/Article">
      <a class="vl-news-teaser" itemprop="url" href="#">
        <div class="vl-news-teaser__content">
          <time class="vl-news-teaser__label" itemprop="datePublished" datetime="">14u</time>
          <h3 class="vl-news-teaser__title" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
        </div>
      </a>
    </article>
    <article class="vl-u-spacer-bottom--small" itemscope itemtype="http://schema.org/Article">
      <a class="vl-news-teaser" itemprop="url" href="#">
        <div class="vl-news-teaser__content">
          <time class="vl-news-teaser__label" itemprop="datePublished" datetime="">14u</time>
          <h3 class="vl-news-teaser__title" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
        </div>
      </a>
    </article>
    <article class="vl-u-spacer-bottom--small" itemscope itemtype="http://schema.org/Article">
      <a class="vl-news-teaser" itemprop="url" href="#">
        <div class="vl-news-teaser__content">
          <time class="vl-news-teaser__label" itemprop="datePublished" datetime="">14u</time>
          <h3 class="vl-news-teaser__title" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
        </div>
      </a>
    </article>

    <a class="vl-link" itemprop="url" href="#">toon alles <span class="vl-vi vl-vi-arrow-right" aria-hidden="true"></span></a>
  </div>
</section>
