<section aria-labelledby="newsfeed-title">
  <header class="vl-sidebar-header">
  <h2 id="newsfeed-title" class="vl-title vl-title--h3 vl-sidebar-header__title">
    <a class="vl-link" itemprop="url" href="#">Nieuwsfeed</a>
  </h2>
  </header>
  <div class="vl-sidebar-content">
  <ul class="vl-link-list vl-link-list--bordered">
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <time itemprop="datePublished" datetime="">16u</time>
        <h3 class="vl-title vl-title--h4" itemprop="name">Vlaamse overheid is werkgever van het jaar</h3>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <time itemprop="datePublished" datetime="">16u</time>
        <h3 class="vl-title vl-title--h4" itemprop="name">De stemmen zijn geteld</h3>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <time itemprop="datePublished" datetime="">14u</time>
        <h3 class="vl-title vl-title--h4" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <time itemprop="datePublished" datetime="">14u</time>
        <h3 class="vl-title vl-title--h4" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <time itemprop="datePublished" datetime="">14u</time>
        <h3 class="vl-title vl-title--h4" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
      </a>
    </li>
  </ul>
  <a class="vl-link" itemprop="url" href="#">toon alles <span class="vl-vi vl-vi-arrow-right" aria-hidden="true"></span></a>
  </div>
</section>
