<section aria-labelledby="news-title">
  <header class="vl-sidebar-header">
    <h2 id="news-title" class="vl-title vl-title--h3 vl-sidebar-header__title">Nieuws</h2>
  </header>
  <div class="vl-sidebar-content">

  <ul class="vl-link-list vl-link-list--bordered">
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <h3 class="vl-title vl-title--h4" itemprop="name">Vlaamse overheid is werkgever van het jaar</h3>
        <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <img itemprop="image" src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion">
        <h3 class="vl-title vl-title--h4" itemprop="name">De stemmen zijn geteld</h3>
        <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
      </a>
    </li>
    <li class="vl-link-list__item" itemscope itemtype="http://schema.org/Article">
      <a class="vl-link" itemprop="url" href="#">
        <h3 class="vl-title vl-title--h4" itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h3>
        <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
      </a>
    </li>
  </ul>

  <a class="vl-link" href="#">toon alles <span class="vl-vi vl-vi-arrow-right" aria-hidden="true"></span></a>
  </div>
</section>
