<section aria-labelledby="search-title">
  <header class="vl-sidebar-header">
    <h2 id="search-title" class="vl-title vl-title--h3 vl-sidebar-header__title">Zoeken</h2>
  </header>
  <div class="vl-sidebar-content">
  <form action="#" method="post" class="vl-form">
    <label class="vl-form__label vl-form__label--block vl-u-visually-hidden" for="search-query">Zoekterm</label>
    <input class="vl-input-field" id="search-query" type="text" placeholder="zoek">
    <button class="vl-button vl-u-spacer-top--xsmall" type="submit">ZOEKEN</button>

    <fieldset class="vl-u-spacer-top--xsmall">
      <legend class="vl-form__label">Zoek binnen</legend>
      <div class="vl-checkbox vl-u-spacer-bottom--xsmall">
        <input class="vl-checkbox__toggle" id="search-site" type="checkbox">
        <label class="vl-checkbox__label" for="search-site">
          <span class="vl-checkbox__box" aria-hidden="true"></span>
          zoek binnen deze website
        </label>
      </div>
      <div class="vl-checkbox">
        <input class="vl-checkbox__toggle" id="search-flanders" type="checkbox">
        <label class="vl-checkbox__label" for="search-flanders">
          <span class="vl-checkbox__box" aria-hidden="true"></span>
          zoek binnen Vlaanderen.be
        </label>
      </div>
    </fieldset>
  </form>
  </div>
</section>
