<nav class="vl-share-buttons" aria-label="Deel dit artikel">
  <a class="vl-share-button vl-share-button--facebook" href="#"><span class="vl-vi vl-vi-facebook" aria-hidden="true"></span> Facebook</a>
  <a class="vl-share-button vl-share-button--twitter" href="#"><span class="vl-vi vl-vi-twitter" aria-hidden="true"></span> Twitter</a>
  <a class="vl-share-button" href="#"><span class="vl-vi vl-vi-mail" aria-hidden="true"></span> Mailen</a>
  <a class="vl-share-button" href="#"><span class="vl-vi vl-vi-printer" aria-hidden="true"></span> Printen</a>
</nav>
