<section aria-labelledby="social-links-title">
  <header class="vl-sidebar-header">
    <h2 id="social-links-title" class="vl-title vl-title--h3 vl-sidebar-header__title">Volg ons</h2>
  </header>
  <div class="vl-sidebar-content">
  <ul class="vl-icon-list">
    <li class="vl-icon-list__item"><span class="vl-vi vl-vi-twitter" aria-hidden="true"></span><a class="vl-link" href="#">Twitter</a></li>
    <li class="vl-icon-list__item"><span class="vl-vi vl-vi-facebook" aria-hidden="true"></span><a class="vl-link" href="#">Facebook</a></li>
    <li class="vl-icon-list__item"><span class="vl-vi vl-vi-mail" aria-hidden="true"></span><a class="vl-link" href="#">E-mail</a></li>
    <li class="vl-icon-list__item"><span class="vl-vi vl-vi-linkedin" aria-hidden="true"></span><a class="vl-link" href="#">LinkedIn</a></li>
  </ul>
  </div>
</section>
