<nav aria-label="Deel dit artikel">
  <ul class="vl-link-list vl-link-list--inline">
    <li class="vl-link-list__item"><a class="vl-link" href="#"><span class="vl-vi vl-vi-facebook" aria-hidden="true"></span> Facebook</a></li>
    <li class="vl-link-list__item"><a class="vl-link" href="#"><span class="vl-vi vl-vi-twitter" aria-hidden="true"></span> Twitter</a></li>
    <li class="vl-link-list__item"><a class="vl-link" href="#"><span class="vl-vi vl-vi-mail" aria-hidden="true"></span> Mailen</a></li>
    <li class="vl-link-list__item"><a class="vl-link" href="#"><span class="vl-vi vl-vi-printer" aria-hidden="true"></span> Printen</a></li>
  </ul>
</nav>
