<!-- footer -->
{#
  Eenvoudige footer op basis van Webuniversum, voor toepassingen die naast de
  burgerprofiel-footer nog eigen links tonen. Gebruik:

    {% block footer %}
      {% set footer_nav = [('Toegankelijkheid', 'https://...'), ...] %}
      {% include "pyoes/footer.jinja2" %}
    {% endblock %}
#}
{% set footer_nav = footer_nav|default([]) -%}
<footer class="oe-footer vl-region" role="contentinfo">
  <div class="vl-layout">
    <div class="vl-grid vl-grid--is-stacked">
      <div class="vl-col--6-12 vl-col--12-12--s">
        {% block footer scoped %}
          {% if footer_nav|length > 0 %}
            <ul class="vl-link-list">
              {% for caption, href in footer_nav %}
                <li class="vl-link-list__item"><a class="vl-link" target="_blank" rel="noopener" href="{{ href }}">{{ caption }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>
      <div class="vl-col--6-12 vl-col--12-12--s">
        <a class="vl-link" href="mailto:ict@onroerenderfgoed.be">Technische vraag? Mail ons via ict@onroerenderfgoed.be</a>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
