<footer class="footer">
	<div class="row">
		<div class="small-8 columns small-footer">
			<span class="icon icons-overheid"></span>
			<div class="info">
				<p>&copy; {%block datum_copyright %}2013{%endblock %} Onroerend Erfgoed</p>
				{% set default_footer_nav = [('Toegankelijkheid', '/toegankelijkheid'), ('Juridische Informatie', '/juridische-informatie')] %}
				{% set footer_nav = footer_nav|default(default_footer_nav) %}
				<nav class="footer-nav">
					<ul>
					{% for nav in footer_nav %}
						<li><a href="{{ nav.1 }}">{{ nav.0 }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
		<div class="small-4 columns">
		</div>
	</div>
</footer>
