<!-- header -->
<!-- wrapper & responsive navigation -->
{% set header_links = header_links|default([]) -%}
<header class="vl-application-header{{ ' vl-application-header--has-actions' if header_links|length > 0 else '' }}">
  <div class="vl-layout">
  <div class="vl-application-header__row">

    {% set home_link = home_link|default('/') -%}

    <div class="vl-application-header__content">
          {% set active_title= active_title|default('Erfgoedstijl') -%}
          <h1 class="vl-title vl-title--h1 vl-title--no-space-bottom vl-application-header__title"><a class="vl-link" href="{{ home_link }}"><span>{{active_title}}</span></a></h1>
    </div>
    {% block header_links scoped %}
      <!-- Links in header -->
      {% set header_links = header_links|default([]) -%}
      {% if header_links|length > 0 %}
          <nav class="vl-application-header__actions" aria-label="Extra links">
            <ul class="vl-link-list">
              {% for text, href, title in header_links %}
                <li class="vl-application-header__action"><a class="vl-link" href="{{ href }}" target="_blank" rel="noopener" title="{{ title }}">{{ text }}</a></li>
              {% endfor %}
            </ul>
          </nav>
      {% endif %}
    {% endblock %}
  </div>
  </div>

<!-- navigation -->
{% block main_nav %}
  <nav class="oe-navigation" aria-label="Hoofdnavigatie">
    <div class="vl-layout">
    <div class="vl-application-header__sub">
      {% set active_main_nav = active_main_nav|default('home') -%}
      {% set default_main_nav = [
        ('home', 'Home', '/'),
        ('zoeken', 'Zoeken', '/'),
        ('vinden', 'Vinden', '/')
        ]
        -%}
      {% set default_dropdown_main_nav = [] %}

      {% set default_login_nav = [('Aanmelden', '/')] %}
      {% set default_login_sub_nav = [('Profiel', '/'), ('Afmelden', '/')] %}

      {% set main_nav = main_nav|default(default_main_nav) -%}

      {# MAIN NAV #}
      <div class="vl-application-header__sub-row vl-application-header__sub-actions">
      <ul class="vl-application-header__sub__actions">
        {% for item in main_nav %}
          {% if item|length == 3 %}
            {% set id, caption, href = item %}
            {% set class = None %}
          {% else %}
            {% set id, caption, href, class = item %}
          {% endif %}
          <li class="vl-application-header__sub__action {{class or ''}}">
            <a class="vl-link{{ ' vl-link--bold' if id == active_main_nav else '' }}" href="{{ href }}"{% if id == active_main_nav %} aria-current="page"{% endif %}{% if id == 'home' %} title="{{ caption|striptags }}"{% endif %}>
              {% if id == 'home' %}
                <span class="vl-vi vl-vi-places-home" aria-hidden="true"></span>
                <span class="vl-u-visually-hidden">{{ caption|striptags }}</span>
              {% else %}
                {{ caption|safe }}
              {% endif %}
            </a>
          </li>
        {% endfor %}

      {% set dropdown_main_nav = dropdown_main_nav|default(default_dropdown_main_nav) -%}

      {# DROPDOWN NAV #}
      {% if dropdown_main_nav|length > 0 %}
          {% for id, caption, submenu in dropdown_main_nav %}
            <li class="vl-application-header__sub__action">
              <details>
              <summary><span class="vl-link">{{ caption }}</span><span class="vl-vi vl-vi-nav-down" aria-hidden="true"></span></summary>
              <ul class="vl-link-list vl-link-list--small">
                {% for id, subCaption, href in submenu %}
                  <li class="vl-link-list__item"><a class="vl-link{{ ' vl-link--bold' if id == active_main_nav else '' }}" href="{{ href }}"{% if id == active_main_nav %} aria-current="page"{% endif %}>{{ subCaption }}</a></li>
                {% endfor %}
              </ul>
              </details>
            </li>
          {% endfor %}
      {% endif %}
      </ul>
      </div>

      {% set login_nav = login_nav|default(default_login_nav) -%}
      {% set login_sub_nav = login_sub_nav|default(default_login_sub_nav) -%}

      {# USER MENU #}
      {% if login_nav|length > 0 %}
        <div class="vl-application-header__sub-row oe-navigation__account">
        {% if not request.user %}
            {% if request.authenticated_userid != None %}
              <details>
              <summary><span class="vl-link">{{ request.authenticated_userid }}</span><span class="vl-vi vl-vi-nav-down" aria-hidden="true"></span></summary>
            {% endif %}
            <ul class="vl-link-list{{ ' vl-link-list--small' if request.authenticated_userid != None else ' vl-application-header__sub__actions' }}">
            {% for caption, href in login_nav %}
              <li class="{{ 'vl-link-list__item' if request.authenticated_userid != None else 'vl-application-header__sub__action' }}"><a class="vl-link" href="{{ href }}" rel="nofollow">{{ caption }}</a></li>
            {% endfor %}
            </ul>
            {% if request.authenticated_userid != None %}
              </details>
            {% endif %}
        {% else %}
              <details>
              <summary><span class="vl-link">
                {% if request.user.actor and request.user.actor.omschrijving %}
                  {{ request.user.actor.omschrijving }}
                {% elif request.user.persoonsgegevens and request.user.persoonsgegevens.omschrijving %}
                  {{ request.user.persoonsgegevens.omschrijving }}
                {% else %}
                  {{ request.authenticated_userid or 'Profiel' }}
                {% endif %}
              </span><span class="vl-vi vl-vi-nav-down" aria-hidden="true"></span></summary>
              <ul class="vl-link-list vl-link-list--small">
                {% for caption, href in login_sub_nav %}
                  <li class="vl-link-list__item"><a class="vl-link" href="{{ href }}">{{ caption }}</a></li>
                {% endfor %}
              </ul>
              </details>
        {% endif %}
        </div>
      {% endif %}

    </div>
    </div>
  </nav>
{% endblock %}
</header>

<!-- end header -->


