{% extends "layout.jinja2" %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1 class="subheader">Pagina niet gevonden - 404</h1>
            <p>Sorry, maar de pagina die je hebt opgevraagd werd niet gevonden.
            Heb je de zoekfunctie al geprobeerd? Die vind je bovenaan elke pagina.
            </p>

            {% block notfound_info %}
            {% endblock %}
        </div>
    </div>
</div>