{% extends "layout.jinja2" %}

{% set mailto_error = mailto_error|default('ict@onroerenderfgoed.be') -%}
{% set app_package = app_package|default('Pyoes') %}

{% block html_title %}Page not found | {{app_package}} | Onroerend Erfgoed{% endblock %}

{% block content %}
  <main class="vl-grid vl-u-spacer-top vl-u-spacer-bottom">
    <div class="vl-col--1-1">
      <div class="vl-u-align-center vl-u-spacer-bottom">
        <h1 class="vl-title vl-title--h1">
          <span class="vl-vi vl-vi-warning" aria-hidden="true"></span>
          <span>403</span>
        </h1>
        <h2 class="vl-title vl-title--h3">De pagina is afgeschermd.</h2>
        <p class="vl-title vl-title--h4"><strong>Deze pagina is niet voor jou bedoeld. Slechts een beperkt aantal mensen heeft de rechten om ze te bekijken.</strong></p>
      </div>
      <section class="vl-info-tile vl-typography">
        <h2 class="vl-title vl-title--h5">Wat kan je zelf doen?</h2>
        <ul>
          <li><strong>Mail naar <a class="vl-link" href="mailto:{{ mailto_error }}">{{ mailto_error }}</a> als je de rechten wilt bekomen</strong></li>
        </ul>
      </section>
    </div>
  </main>
{% endblock %}