{% extends "layout.jinja2" %}

{% set mailto_notfound = mailto_notfound|default('ict@onroerenderfgoed.be') -%}
{% set app_package = app_package|default('Pyoes') %}

{% block html_title %}Page not found | {{app_package}} | Onroerend Erfgoed{% endblock %}

{% block content %}
  <main class="vl-grid vl-u-spacer-top vl-u-spacer-bottom">
    <div class="vl-col--1-1">
      <div class="vl-u-align-center vl-u-spacer-bottom">
        <h1 class="vl-title vl-title--h1">
          <span class="vl-vi vl-vi-warning" aria-hidden="true"></span>
          <span>404</span>
        </h1>
        <h2 class="vl-title vl-title--h3">De pagina werd niet gevonden.</h2>
        <p class="vl-title vl-title--h4"><strong>De pagina die je hebt opgevraagd, bestaat niet (meer) of ze is verplaatst.</strong></p>
      </div>
      <section class="vl-info-tile vl-typography">
        <h2 class="vl-title vl-title--h5">Wat kan je zelf doen?</h2>
        <ul>
          <li><strong>Controleer de schrijfwijze van de URL.</strong>
            De oorsprong van dit probleem kan een eenvoudige tikfout zijn.
          </li>
          <li><strong>Ben je foutief doorgelinkt?</strong>
            Meld het ons via <a class="vl-link" href="mailto:{{ mailto_notfound }}">{{ mailto_notfound }}</a>.
          </li>
          <li><strong>Werd de pagina gewist of verplaatst?</strong>
            Dan kan je een nieuwe zoekopdracht starten op de
            <a class="vl-link" href="/">homepagina.</a>
          </li>
        </ul>
      </section>
    </div>
  </main>
{% endblock %}
