{% extends "layout.jinja2" %}
{% block content %}

<div class="row">
    <div class="large-12 columns">
          <div class="panel">




<i class="fa fa-warning"></i></a>

<h1>404</h1>
<h2>Sorry - er is iets mis gegaan.</h2>

<h5>Wat kan dit veroorzaakt hebben ?</h5>

<p>Een technisch fout loopt op onze site .</p>

- We kunnen de pagina hebben verwijderd.
-
-

Of de link die u hebt geklikt zou oud kunnen zijn en niet meer werkt .
Of kunt u per ongeluk hebt getypt de verkeerde URL in de adresbalk .

<h5>Wat u kunt doen ?</h5>

<p>Typ de URL over in en probeer opnieuw.</p>
<p>Ga terug naar de <a href="/">homepage</a>.</p>
<p>Maak gebruik van de sitemap onderaan deze pagina om te vinden wat u zoekt.</p>

<h5>Nog een ding:</h5>

<p>Wilt u ons helpen dit probleem op te lossen, we zijn hier om te helpen.</p>
<p>Neem  <a href="">contact nog in te vullen mailadres !!!!!!!!!!!!</a> met ons en laat ons weten wat er mis ging .</p>
<p>Zorg ervoor dat u ons laat weten welke web browser en besturingssysteem dat u gebruikte toen dit gebeurde.</p>


          </div>
    </div>
</div>

{% endblock %}