{% extends "layout.jinja2" %}

{% set active_main_nav = 'burgerprofiel' %}

{% block content scoped %}
<!-- content -->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      test met burgerprofiel header&footer
    </div>
  </div>
</div>
<!-- end content -->
{% endblock %}
