{% extends "layout.jinja2" %}

{% set active_main_nav = 'burgerprofiel2' %}
{% block custom_contact_info %}
  {% from 'pyoes/macros.jinja2' import render_custom_burgerprofiel_contact %}
  {{ render_custom_burgerprofiel_contact() }}
  <script>
    render_contact({
      "displayMode": "grouped",
      "groupLabel": "Heb je een vraag of opmerking over een beeld in de beeldbank?",
      "contextual": [
        {
          "type": "link",
          "href": "{{ home_route }}contact",
          "label": "Stel je vraag via ons contactformulier"
        }
      ],
      "defaults": [
        {
          "type": "contactOption",
          "contactGroupId": "OVO000104",
        }
      ]
    })
  </script>
{% endblock %}

{% block content %}
  <!-- content -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        test met burgerprofiel met aangepaste contact info blok
      </div>
    </div>
  </div>
  <!-- end content -->
{% endblock %}
