{% extends "layout.jinja2" %}

{% set active_main_nav = 'burgerprofiel2' %}

{% block custom_contact_info %}
  {% from 'pyoes/macros.jinja2' import render_custom_burgerprofiel_contact %}
  {{ render_custom_burgerprofiel_contact() }}
  <script>
    render_contact({
      "displayMode": "grouped",
      "groupLabel": "Heb je een vraag of opmerking over een beeld in de beeldbank?",
      "contextual": [
        {
          "type": "link",
          "href": "{{ home_route }}contact",
          "label": "Stel je vraag via ons contactformulier"
        }
      ],
      "defaults": [
        {
          "type": "contactOption",
          "contactGroupId": "OVO000104",
        }
      ]
    })
  </script>
{% endblock %}

{% block content %}
<div class="vl-typography">
  <h1 class="vl-title vl-title--h1">Burgerprofiel met aangepaste contactinfo</h1>
  <p>
    Via het block <code>custom_contact_info</code> en de macro
    <code>render_custom_burgerprofiel_contact</code> kan een toepassing het
    contactblok van de burgerprofiel-header aanpassen.
  </p>
</div>
{% endblock %}
