{% extends "layout.jinja2" %}

{% block content %} 
  

 <!-- header -->

 <!-- end header -->


<!-- 1 col structure -->
type 1
<hr>
<div class="row">

  <div class="large-12 columns">
      
      <div class="panel">
        <h2>Content</h2>  
        <p><strong>Boxes with a white background include a div.panel element. <br>
        You can remove the 'panel' class for no white background and padding. It's not required at all for the grid. </strong></p>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempus feugiat tortor, congue ornare tellus tempus ac. Suspendisse ac sagittis orci, at iaculis lectus. Integer et nunc vel ante dictum sollicitudin. Nam ut sapien ac quam aliquet fermentum et et velit. Aliquam in tincidunt sem. Phasellus molestie metus elit, in semper arcu rhoncus ut.</p>  
      </div>

  </div>

</div>




<!-- 2 col structure within 1 row-->
type 2
<hr>

    <div class="row">
      <div class="large-12 columns">

        <div class="panel">

            <div class="row">
            
              <div class="large-8 medium-8 columns">
                  <h2>Content </h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempus feugiat tortor, congue ornare tellus tempus ac. Suspendisse ac sagittis orci, at iaculis lectus. Integer et nunc vel ante dictum sollicitudin. Nam ut sapien ac quam aliquet fermentum et et velit. Aliquam in tincidunt sem. Phasellus molestie metus elit, in semper arcu rhoncus ut.</p>
              </div>

              <div class="large-4 medium-4 columns">
                  <h3>Content </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
                     
            </div>

         </div>

      </div>
   </div>



<!-- 3 col structure within 1 row-->
type 3
<hr>
    <div class="row">
      <div class="large-12 columns">

        <div class="panel">

            <div class="row">
            
             <div class="large-4 medium-4 columns">
                  <h2>Content col1</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>            

             <div class="large-4 medium-4 columns">
                  <h2>Content col2</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>


              <div class="large-4 medium-4 columns">
                  <h2>Content col3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
                     
            </div>

         </div>

      </div>
   </div>






<!-- 2 col structure -->

type 4
<hr>
<div class="row">

  <div class="large-6 columns">
      
      <div class="panel">
        <h2>Content</h2> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>


  <div class="large-6 columns">
      
      <div class="panel">
        <h2>Content</h2> 
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>    
      </div>

  </div>

</div>





<!-- 2 col structure large-6 columns -->
type 5
<hr>
<div class="row">

  <div class="large-6 columns">
      
      <div class="panel">
        <h2>Content</h2> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

      
      <div class="large-6 medium-6 columns">
      <div class="panel">
      <h3>Content</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
      </div>
      </div>

      <div class="large-6 medium-6 columns">
      <div class="panel">
      <h3>Content</h3> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
      </div>
      </div>



</div>






<!-- 2 col structure large-6 columns -->
type 51
<hr>
<div class="row">

  <div class="large-6 columns">
      
    
<!-- nieuws -->

      <div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>
        
          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                 
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales.
           
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
         
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

</div>
<!-- end nieuws -->

  </div>

      
<div class="large-6 medium-6 columns">
      <div class="panel Searchbox">
     <!-- search -->
     <form name="" action="#" method="post" class="clearfix">
        <div class="searchBox">
          <input type='text' placeholder='zoek foto' />
          <button>zoeken</button>
          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small> 
        </div>
     </form>
     <!-- end search -->
      </div>
  </div>





  <div class="large-6 medium-6 columns" style="padding:0">
      <div class="large-6 medium-6 columns">

<!-- nieuws -->

      <div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>

          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
            <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
          <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

</div>
<!-- end nieuws -->

      </div>



      <div class="large-6 medium-6 columns">

      <!-- promo -->

        <div class="block-holder clearfix">
  
          <div class="fl-block style-3">
  
        <div class="block-image field full"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTm9hxNly_xBNbjxcbPhKGHvH2raxBfP5jBcRDtPnjl41ROEfJpVw" alt="" /></div>

        <div class="block-date field"><i class="fa fa-calendar-o"></i> 23 april, 2013 </div>
        
        <div class="block-text field">

        <h4><a href="#">Onderwijs bepalend voor succes in volwassen leven </a></h4>
        
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Quis nostrum eliat sempris quam.</p>
        <p><a class="more" href="#">lees verder  &rsaquo;</a></p>

        </div>
 
        </div>

  
</div>
<!-- end promo -->
      </div>
  </div>



</div>










<!-- 2 col structure large-6 columns -->
type 6
<hr>
<div class="row">

  <div class="large-6 columns">
      
      <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

  <div class="large-6  columns">

  <div class="large-6 columns">
      
      <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

      <div class="medium-6 columns">
        <div class="panel">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
        </div>
      </div>

      <div class="medium-6 columns">
        <div class="panel">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 
       </div>
      </div>
 </div>


</div>











<!-- 2 col structure (8/4) -->
type 7
<hr>
<div class="row">

  <div class="large-8 columns">
      
       <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>


<div class="large-4 columns">
      
     <div class="panel">
        <h3>Content</h3> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

</div>



<!-- 2 col structure (4/8) -->
type 8
<hr>
<div class="row">

   <div class="large-4 columns">
      
     <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

  <div class="large-8 columns">
      
        <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

</div>









<!-- 3 col structure -->
type 9
<hr>
<div class="row">

  <div class="large-4 columns">
      
     <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>


  <div class="large-4 columns">
      
        <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>


    <div class="large-4 columns">
      
       <div class="panel">
        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>   
      </div>

  </div>

</div>


 


















<!-- basic grid 2 col structure -->

<div class="row">

      <div class="large-8 medium-8 columns">

        <h5>Basic grid col 1</h5>

        <!-- Grid Example -->

        <div class="row">
          <div class="large-12 columns">
          
              <p><strong>This is a twelve column section in a row.</strong></p>
      
          </div>
        </div>


        <div class="row">
          <div class="large-6 medium-6 columns">
           
              <p>Six columns</p>
          
          </div>
          <div class="large-6 medium-6 columns">
          
              <p>Six columns</p>
          
          </div>
        </div>


        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
          
              <p>Four columns</p>
       
          </div>
          <div class="large-4 medium-4 small-4 columns">
           
              <p>Four columns</p>
         
          </div>
          <div class="large-4 medium-4 small-4 columns">
          
              <p>Four columns</p>
        
          </div>
        </div>
        
      
 
      </div>     

      <div class="large-4 medium-4 columns">
      
      <h5>Basic grid col 2</h5>   

   
      </div>
    </div>



{% endblock %}