{% extends "layout.jinja2" %}

{% block content %}
	<section class="row content">
		<div class="row">
			<div class="medium-4 columns">
				<div class="panel">
					<h2>Rij 1, Medium Kolom 1-4</h2>
				</div>
			</div>
			<div class="medium-8 columns">
				<div class="panel radius">
					<h2>Rij 1, Medium Kolom 5-12</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<div class="panel radius">
					<h3>Rij 2, Small Kolom 1-6</h3>
				</div>
			</div>
			<div class="small-6 column">
				<div class="panel">
					<h3>Rij 2, Small Kolom 7-12</h3> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<div class="panel">
					<h1>Rij 3, Large Kolom 1-4</h1>
				</div>
			</div>
			<div class="large-8 columns">
				<div class="panel">
					<h1>Rij 3, Large Kolom 5-12</h1>
				</div>
				<div class="row collapse">
					<div class="small-4 column">
						<div class="panel">
							<h3>Rij 3.5, Small Kolom 1-4</h3>
						</div>
					</div>
					<div class="small-4 column">
						<div class="panel callout">
							<h3>Rij 3.5, Small Kolom 5-8</h3> 
						</div>
					</div>
					<div class="small-4 column">
						<div class="panel">
							<h3>Rij 3.5, Small Kolom 9-12</h3> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
