{% extends "layout.jinja2" %}

{% set active_main_nav = 'icons' %}

{% set crumbs = [
	('Je bent hier:', '#', 'unavailable'), 
	('Home', '/', ''), 
	('Icons', request.route_url('icons'), 'current'),
]
-%}

{% block content %}
	<section class="content">
		<div class="row">
			<div class="small-6 large-8 columns">
				<h2>Icons</h2>
				<p>Er is een grote set iconen beschikbaar via <a href="http://zurb.com/playground/foundation-icon-fonts-3" title="Zurb Foundation Icon Fonts">Foundation Icon Fonts 3</a>. Interessant hierbij is dat deze zeer makkelijk kunnen gestijld worden via <a href="http://zurb.com/playground/foundation-icon-fonts-3#examples" title="Voorbeelden van foundation icons gestijld met css">css</a>.</p>
				</div>
			<div class="small-6 large-4 columns panel">
				<h4 class="subheader">Enkele voorbeelden</h4>
				<ul>
					<li><i class="fi-check"> fi-check</i></li>
					<li><i class="fi-x"> fi-x</i></li>
					<li><i class="fi-download"> fi-download</i></li>
					<li><i class="fi-map"> fi-map</i></li>
				</ul>
			
				<h4 class="subheader">Enkele voorbeelden met extra css</h4>
				<ul>
					<li><i class="fi-check" style="border: 2px solid silver;"></i> fi-check</li>
					<li><i class="fi-x" style="font-size: 2em;"> fi-x</i></li>
					<li><i class="fi-download" style="color: purple;"> fi-download</i></li>
					<li><i class="fi-map" style="font-size: 2em; color: teal; font-weight: bold;"> fi-map</i></li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
