{% extends "pyoes/layout.jinja2" %}

{% set app_package = 'pyoes' %}

{% set active_main_nav = active_main_nav|default(request.matched_route.name) %}

{% set datum_copyright = '2013-2014' %}

{% set main_nav = [
	('home', 'Home', '/'),
	('typo', 'Typografie', '/typo'),
	('article', 'Artikel', '/article')
]-%}


{% set dropdown_main_nav = [] -%}

{% set nav_actions = [('Contact', 'https://www.onroerenderfgoed.be/contact')] -%}
