{% extends "pyoes/layout.jinja2" %}

{% set app_package = 'pyoes' %}

{% set datum_copyright = '2013-2014' %}

{% set main_nav = [
	('home', 'Home', '/'), 
	('zoeken', 'Zoeken', '/zoeken'),
	('vinden', 'Vinden', '/vinden'),
	('pinpoints', 'Pinpoints', '/pinpoints'),
	('icons', 'Icons', '/icons')
]-%}

{% set css_files =
[

]-%}
