{% extends "pyoes/layout.jinja2" %}

{#
  Layout van de demo-toepassing: toont hoe een toepassing de pyoes-shell
  configureert. Zie pyoes/templates/pyoes/layout.jinja2 voor alle variabelen.
#}

{% set app_package = 'pyoes' %}
{% set active_title = 'Erfgoedstijl' %}

{% set main_nav = [
  ('home', 'Home', '/'),
  ('burgerprofiel', 'Burgerprofiel', 'burgerprofiel'),
  ('burgerprofiel2', 'Burgerprofiel aangepast', 'burgerprofiel2'),
  ('headerlinks', 'Header links', 'headerlinks'),
  ('navigation', 'Navigatie', 'navigation'),
] -%}

{% set dropdown_main_nav = [
  ('fouten', 'Foutpagina\'s', [
    ('401', '401 - Niet aangemeld', '401'),
    ('403', '403 - Geen toegang', '403'),
    ('404', '404 - Niet gevonden', '404'),
    ('500', '500 - Technisch probleem', '500'),
  ])
] -%}

{% set nav_actions = [('Contact', 'https://www.onroerenderfgoed.be/contact')] -%}
{% set login_nav = [('Aanmelden', '#')] -%}
{% set login_sub_nav = [('Afmelden', '#')] -%}
