{% extends "layout.jinja2" %}

{% set active_main_nav = 'vinden' %}

{% block content %}
<section class="row content">
	<div class="zoekresultaat">
		<a class="th" href="#"><img src="http://placehold.it/128x85&text=[breed_small]" /></a>
		<div class="beschrijving">
			<h4>Mijn resultaat</h4>
			<p>Lorem ipsum bla bla bla ...</p>
		</div>
	</div>

	<div class="zoekresultaat">
		<a class="th" href="#"><img src="http://placehold.it/81x128&text=[hoog_small]" /></a>
		<div class="beschrijving">
			<h4>Mijn resultaat</h4>
			<p>Lorem ipsum bla bla bla ...</p>
		</div>
	</div>

	<div class="zoekresultaat">
		<a class="th" href="#"><img src="http://placehold.it/256x170&text=[breed_medium]" /></a>
		<div class="beschrijving">
			<h4>Mijn resultaat</h4>
			<p>Lorem ipsum bla bla bla ...</p>
		</div>
	</div>

	<div class="zoekresultaat">
		<a class="th" href="#"><img src="http://placehold.it/162x256&text=[hoog_medium]" /></a>
		<div class="beschrijving">
			<h4>Mijn resultaat</h4>
			<p>Lorem ipsum bla bla bla ...</p>
		</div>
	</div>
</section>
{% endblock %}
