@media only screen and (max-width: 1100px) {

	.short-nav-item{
		h2,h3{
			margin-left: 0;
		}
	}

	.lower-header{
		.columns{
			float:none;
		}
	}

	.lower-header .nav-column{
		width: auto;
	}

	.short-nav ul{
		@include clearfix;
	}

	.short-nav .short-nav-item{
		float:left;
		height: 100px;
	}

	.lower-header .gallery:last-child{
		float: none;
		width: 98%;
	}

	.credits{
		width: 100% !important;
		position: static;
	}

	.footer .columns.last{
		padding-right: 0;
		.dark, .pink{
			float:left;
			width: 50%;
		}

		
		.pink{
			position: static;
		}

		.pink .inner{
			width: auto;
		}
	}

	.twelve.columns{
		padding-right: 20px;
	}

	.info-caption{
		position:static;
		width: 100%;
		@include box-shadow(none);

		.bottom{
			position:static;
		}
	}


}

@media only screen and (max-width: 768px) {

	.padded-top{
		margin-top: 60px;
	}

	.upper-header{
		margin-bottom: 10px;
	}

	.column, .columns{
		padding: 0 15px;
	}

	.header h1{
		margin-top: 0;
		margin-bottom: 20px;
	}


	.language-switch{
		float: right;
	}

	.header .main-nav {
		padding: 0;
	}


	input[type="search"]{
		width: 80%;
	}


	.lower-header{
		top: 0;
	}

	.caption{
		position: static;
		width: auto;
		height: auto;
		@include box-shadow(none);

		.controls{
			position: static;
		}
	}

	.sidebar.sidebar-left{
		margin-top: 10px;
	}

	.read-more{
		float:left;
	}

	.footer-item.pink{
		position: static;
	}

	.footer-item .inner {
		width: auto;
	}

	.footer-item.dark{
		height: auto;
	}
	.footer .columns.last{
		padding-right: 0;
	}

	.credits{
		position: static;
	}

	.sidebar.sidebar-left {
		margin-top: 20px;
	}

	.small-footer{
		border-right: none;
		padding: 15px;
	}

	.glue-logo{
		float:none;
		margin: 10px 0;
	}

	.row .row{
		margin: 0;
		padding: 0;
	}

	.small-footer .icons-overheid,.small-footer .info{
		float:none;
		margin-left: 0;
	}

	.header .sub{
		margin-right: 0;
	}


	.footer .columns.last{
		padding-right: 0;
		.dark, .pink{
			float:none;
			width: auto;
		}

		.pink .inner{
			width: auto;
		}
	}

	.upper-header .four.columns.no-pad-right{
		padding: 0;
	}

}



@media only screen and (max-width: 460px) {



	.breadcrumb{
		padding: 20px;
		margin: 10px;
		position: static;
	}

	.short-nav .short-nav-item {
		float:none;
	}
		
		ul.inline-list > li, ul.link-list > li{
			float:none;
		}

		.latest-blog{
			li{
				margin-bottom: 50px;
			}
		}
}


